In [2]:
import pandas as pd
import numpy as np

### Join dataframes and checking the extracted data

In [3]:
#import Channels csv
df1 = pd.read_csv('Extracted_channel_1.csv')
df2 = pd.read_csv('Extracted_channel_2.csv')
df3 = pd.read_csv('Extracted_channel_3.csv')
df4 = pd.read_csv('Extracted_channel_4.csv')
df5 = pd.read_csv('Extracted_channel_5.csv')

In [4]:
#join channel frames
frames = [df1, df2, df3,df4, df5]
raw_channel_df = pd.concat(frames)

In [25]:
raw_channel_df

,category,channelID,snippet_etag,snippet_items_etag,snippet_items_id_channelId,snippet_items_id_kind,snippet_items_kind,snippet_items_snippet_channelId,snippet_items_snippet_channelTitle,snippet_items_snippet_description,...,statistics_items_etag,statistics_items_id,statistics_items_kind,statistics_items_statistics_commentCount,statistics_items_statistics_hiddenSubscriberCount,statistics_items_statistics_subscriberCount,statistics_items_statistics_videoCount,statistics_items_statistics_viewCount,statistics_kind,statistics_pageInfo_resultsPerPage
0,AUTO & VEHICLES,UCjOl2AUblVmg2rA_cRgZkFg,744gBiRCGaqlpkIj1A7aPh7khsc,sdiqTXhKjaQDjmp9N-bVs7JTvxw,UCjOl2AUblVmg2rA_cRgZkFg,youtube#channel,youtube#searchResult,UCjOl2AUblVmg2rA_cRgZkFg,Top Gear,Welcome to the official home of Top Gear on Yo...,...,NJnR16tSLqTNOk8YEmlX5bP8U7M,UCjOl2AUblVmg2rA_cRgZkFg,youtube#channel,0,False,7610000,1354,3012156814,youtube#channelListResponse,1
1,AUTO & VEHICLES,UCes1EvRjcKU4sY_UEavndBw,n5AqBeBZUTe8NAGgPkb0Sgbx4yE,TudVPLYity4Ac3DowSe4HrjI2E0,UCes1EvRjcKU4sY_UEavndBw,youtube#channel,youtube#searchResult,UCes1EvRjcKU4sY_UEavndBw,ChrisFix,Learn how to fix your own car with my easy to ...,...,XFFYZdL-R5B3HAIB2UsFaJdaFDk,UCes1EvRjcKU4sY_UEavndBw,youtube#channel,0,False,6920000,337,1020793024,youtube#channelListResponse,1
2,AUTO & VEHICLES,UCsAegdhiYLEoaFGuJFVrqFQ,CPzS7e7cjgRMScteECF5ZIQD0OM,mfh_Vl1QRlANym37qRq32AKL9SY,UCsAegdhiYLEoaFGuJFVrqFQ,youtube#channel,youtube#searchResult,UCsAegdhiYLEoaFGuJFVrqFQ,MotorTrend Channel,The ultimate automotive streaming service. Get...,...,ZTemJDbGrlj_n_RzZsvpp38hx3Q,UCsAegdhiYLEoaFGuJFVrqFQ,youtube#channel,0,False,6580000,2214,1169502258,youtube#channelListResponse,1
3,AUTO & VEHICLES,UCUhFaUpnq31m6TNX2VKVSVA,APEOWUbv2UfHMm0yKW-bkx_ZkI0,gzoISdAGvaePTxeuRXP6IoY8uVE,UCUhFaUpnq31m6TNX2VKVSVA,youtube#channel,youtube#searchResult,UCUhFaUpnq31m6TNX2VKVSVA,carwow,On the lookout for your next car? Head to carw...,...,eSDxcQojR5htKpfRVhnrhjglqzE,UCUhFaUpnq31m6TNX2VKVSVA,youtube#channel,0,False,4650000,1317,1401956976,youtube#channelListResponse,1
4,AUTO & VEHICLES,UCKSVUHI9rbbkXhvAXK-2uxA,WeiqJM5KuwFHTBYE6jWxBUteOAE,4TKwGlw0QYyGWF9XFNfjHCrUQmM,UCKSVUHI9rbbkXhvAXK-2uxA,youtube#channel,youtube#searchResult,UCKSVUHI9rbbkXhvAXK-2uxA,Supercar Blondie,"I'm Alex, that girl with the cars and I hunt d...",...,y76rV7lDU563bZfgetRcgDbI3G4,UCKSVUHI9rbbkXhvAXK-2uxA,youtube#channel,0,False,4700000,239,363377842,youtube#channelListResponse,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,TRAVEL,UCfYCRj25JJQ41JGPqiqXmJw,I9RVdRNvpj6NBcPga2tSH7bvJd0,4x47msAlW_ADrIrsukpJZvTmFSE,UCfYCRj25JJQ41JGPqiqXmJw,youtube#channel,youtube#searchResult,UCfYCRj25JJQ41JGPqiqXmJw,Sam Chui,My soul is in the sky! I hope my videos can br...,...,vC5YFAjpRl8hxm0Ocycbqcu11-k,UCfYCRj25JJQ41JGPqiqXmJw,youtube#channel,0,False,2340000,337,511078250,youtube#channelListResponse,1
1,TRAVEL,UCxDZs_ltFFvn0FDHT6kmoXA,mXdlLiUp--nCfe4MYQ7EaRpYKVk,7-rRkjFTiCwbpBwqdl9lsf3mRy8,UCxDZs_ltFFvn0FDHT6kmoXA,youtube#channel,youtube#searchResult,UCxDZs_ltFFvn0FDHT6kmoXA,bald and bankrupt,Going off the map in former Soviet lands...,...,#NAME?,UCxDZs_ltFFvn0FDHT6kmoXA,youtube#channel,0,False,2250000,212,293687890,youtube#channelListResponse,1
2,TRAVEL,UC9avFXTdbSo5ATvzTRnAVFg,SAhSXgMWggyVlwBCgCyU8HKAgJM,PjypIkg5u4oPtU2sTTV5J1ZpHjE,UC9avFXTdbSo5ATvzTRnAVFg,youtube#channel,youtube#searchResult,UC9avFXTdbSo5ATvzTRnAVFg,FUNG BROS.,NEW VIDEOS MONDAYS AND THURSDAYS** Two brother...,...,3uXWpqBjCRHbI-Yvy-tF1zzbWFw,UC9avFXTdbSo5ATvzTRnAVFg,youtube#channel,0,False,2120000,873,422298713,youtube#channelListResponse,1
3,TRAVEL,UC0Ize0RLIbGdH5x4wI45G-A,uUTqpriys5XDA-eyC25oVb6PoL0,bkjHGnksvat35e8Gdhr1AO4zRG0,UC0Ize0RLIbGdH5x4wI45G-A,youtube#channel,youtube#searchResult,UC0Ize0RLIbGdH5x4wI45G-A,Drew Binsky,Hey guys! My name is Drew Binsky and I make da...,...,4WkQQdle8a1PyvlBvuLx_8d2Wf8,UC0Ize0RLIbGdH5x4wI45G-A,youtube#channel,0,False,1940000,781,379113325,youtube#channelListResponse,1
4,TRAVEL,UCwiTOchWeKjrJZw7S1H__1g,HYJIj9T4rw61KvnkLdNXprNGUIo,DAzqQ0kNJ86Iw5SNia9LuARsAZw,UCwiTOchWeKjrJZw7S1H__1g,youtube#channel,youtube#searchResult,UCwiTOchWeKjrJZw7S1H__1g,Food Insider,What you want to know about food. A division o...,...,6eFHbc4Kg33PoLcl4uP0BVMU9LI,UCwiTOchWeKjrJZw7S1H__1g,youtube#channel,0,False,2560000,1052,864259797,youtube#channelListResponse,1

#### Checking channel data extracted

In [11]:
len(raw_channel_df)

160

In [12]:
raw_channel_df.shape

(160, 32)

In [13]:
raw_channel_df.info() #there are 6 missing channel description

<class 'pandas.core.frame.DataFrame'>
Int64Index: 160 entries, 0 to 4
Data columns (total 32 columns):
category                                             160 non-null object
channelID                                            160 non-null object
snippet_etag                                         160 non-null object
snippet_items_etag                                   160 non-null object
snippet_items_id_channelId                           160 non-null object
snippet_items_id_kind                                160 non-null object
snippet_items_kind                                   160 non-null object
snippet_items_snippet_channelId                      160 non-null object
snippet_items_snippet_channelTitle                   160 non-null object
snippet_items_snippet_description                    154 non-null object
snippet_items_snippet_liveBroadcastContent           160 non-null object
snippet_items_snippet_publishTime                    160 non-null object
snippet_items_snippet_publishedAt                    160 non-null object
snippet_items_snippet_thumbnails_default_url         160 non-null object
snippet_items_snippet_thumbnails_high_url            160 non-null object
snippet_items_snippet_thumbnails_medium_url          160 non-null object
snippet_items_snippet_title                          160 non-null object
snippet_kind                                         160 non-null object
snippet_pageInfo_resultsPerPage                      160 non-null int64
snippet_pageInfo_totalResults                        160 non-null int64
snippet_regionCode                                   160 non-null object
statistics_etag                                      160 non-null object
statistics_items_etag                                160 non-null object
statistics_items_id                                  160 non-null object
statistics_items_kind                                160 non-null object
statistics_items_statistics_commentCount             160 non-null int64
statistics_items_statistics_hiddenSubscriberCount    160 non-null bool
statistics_items_statistics_subscriberCount          160 non-null int64
statistics_items_statistics_videoCount               160 non-null int64
statistics_items_statistics_viewCount                160 non-null int64
statistics_kind                                      160 non-null object
statistics_pageInfo_resultsPerPage                   160 non-null int64
dtypes: bool(1), int64(7), object(24)
memory usage: 40.2+ KB

Cols to keep: 'channelID' ,'snippet_items_snippet_description','snippet_items_snippet_publishedAt','snippet_regionCode','statistics_items_statistics_subscriberCount', 'statistics_items_statistics_videoCount','statistics_items_statistics_viewCount'

In [39]:
#checking the values of cols that we will keep
print("-----------------------------ChannelID--------------------------------------------------")
print(raw_channel_df["channelID"].value_counts(dropna=False))
print("-----------------------------Description--------------------------------------------------")
print(raw_channel_df["snippet_items_snippet_description"].value_counts(dropna=False))
print("-----------------------------publishedAt--------------------------------------------------")
print(raw_channel_df["snippet_items_snippet_publishedAt"].value_counts(dropna=False))
print("-----------------------------region--------------------------------------------------")
print(raw_channel_df["snippet_regionCode"].value_counts(dropna=False))
print("-----------------------------subcriber count--------------------------------------------------")
print(raw_channel_df["statistics_items_statistics_subscriberCount"].value_counts(dropna=False))
print("-----------------------------video count--------------------------------------------------")
print(raw_channel_df["statistics_items_statistics_videoCount"].value_counts(dropna=False))
print("-----------------------------view count--------------------------------------------------")
print(raw_channel_df["statistics_items_statistics_viewCount"].value_counts(dropna=False))

-----------------------------ChannelID--------------------------------------------------
UCgFXm4TI8htWmCyJ6cVPG_A    1
UCNL1ZadSjHpjm4q9j2sVtOA    1
UC4rlAVgAK0SGk-yTfe48Qpw    1
UC0DZmkupLYwc0yDsfocLh0A    1
UCYVinkwSX7szARULgYpvhLw    1
                           ..
UCS5Oz6CHmeoF7vSad0qqXfw    1
UCm3hAp1m1xlAz0ve_EKAo4g    1
UC6E2mP01ZLH_kbAyeazCNdg    1
UCoookXUzPciGrEZEXmh4Jjg    1
UCsXVk37bltHxD1rDPwtNM8Q    1
Name: channelID, Length: 160, dtype: int64
-----------------------------Description--------------------------------------------------
NaN                                                                                                                                                                      6
Fun diy-projects, crafts, experience the joy of doing it yourself! OFFICIAL CHANNEL. For brand partnership enquires: brands@thesoul-publishing.com.                      2
Канал для всей семьи Family friendly content.                                                                                                                            2
For Business Inquiries: http://jennamarblesblog.com/contact-me/ http://www.facebook.com/pages/Jenna-Mourey/311917224927 ...                                              1
Primitive technology is a hobby where you build things in the wild completely from scratch using no modern tools or materials. These are the strict rules: If you ...    1
                                                                                                                                                                        ..
Welcome to THE ACE FAMILY channel. Join The ACE Family and SUBSCRIBE! Our videos include vlogs, crazy experiences, challenges, pranks, and fun family ...                1
Welcome to Sesame Street! A colorful community of monsters, birds, grouches, and humans. A place where everyone counts. Spend time with all your favorite ...            1
Our World is Amazing. Questions? Ideas? Tweet me: http://www.twitter.com/tweetsauce Vsauce was created by Michael Stevens in the summer of 2010. Vsauce ...              1
When I was a kid, I had a fascination for programming and graphic design. Music kind of just happened spontaneously a few years back. I found a track on ...             1
Check Out My New Second Channel in the Link Below! This is the people's automotive channel! The most honest and funniest car channel on YouTube.                         1
Name: snippet_items_snippet_description, Length: 153, dtype: int64
-----------------------------publishedAt--------------------------------------------------
2008-03-14T17:13:45Z    1
2013-05-24T04:54:22Z    1
2016-06-29T03:15:23Z    1
2012-07-24T00:13:25Z    1
2012-09-05T12:09:54Z    1
                       ..
2013-10-25T23:18:43Z    1
2012-08-24T01:44:00Z    1
2007-02-24T14:28:56Z    1
2012-02-20T00:43:50Z    1
2011-10-20T06:17:58Z    1
Name: snippet_items_snippet_publishedAt, Length: 160, dtype: int64
-----------------------------region--------------------------------------------------
US    160
Name: snippet_regionCode, dtype: int64
-----------------------------subcriber count--------------------------------------------------
13600000    3
17100000    3
19400000    3
44600000    2
12500000    2
           ..
19100000    1
9650000     1
95500000    1
2750000     1
40800000    1
Name: statistics_items_statistics_subscriberCount, Length: 140, dtype: int64
-----------------------------video count--------------------------------------------------
134     2
337     2
179     2
491     2
767     1
       ..
4000    1
158     1
157     1
156     1
4608    1
Name: statistics_items_statistics_videoCount, Length: 156, dtype: int64
-----------------------------view count--------------------------------------------------
1176072189    1
458841789     1
4059159141    1
79229538      1
30837600      1
             ..
363377842     1
7465924277    1
2402287280    1
642526895     1
2086632392    1
Name: statistics_items_statistics_viewCount, Length: 160, dtype: int64

In [44]:
#is it due to hidden subscriber? -> data not shown
print("-----------------------------HiddenSubscribercount--------------------------------------------------")
print(raw_channel_df["statistics_items_statistics_hiddenSubscriberCount"].value_counts(dropna=False))

-----------------------------HiddenSubscribercount--------------------------------------------------
False    160
Name: statistics_items_statistics_hiddenSubscriberCount, dtype: int64

#### Finalised channel data that we will be using

In [5]:
#drop columns
channel_df = raw_channel_df.drop(columns=['category', 'snippet_etag','snippet_items_etag','snippet_items_id_channelId','snippet_items_id_kind','snippet_items_kind','snippet_items_snippet_channelId','snippet_items_snippet_channelTitle','snippet_items_snippet_liveBroadcastContent','snippet_items_snippet_publishTime','snippet_items_snippet_thumbnails_default_url','snippet_items_snippet_thumbnails_high_url','snippet_items_snippet_thumbnails_medium_url','snippet_items_snippet_title','snippet_kind','snippet_pageInfo_resultsPerPage','snippet_pageInfo_totalResults','statistics_etag', 'statistics_items_etag', 'statistics_items_id','statistics_items_kind','statistics_items_statistics_commentCount','statistics_items_statistics_hiddenSubscriberCount','statistics_kind','statistics_pageInfo_resultsPerPage'])

In [6]:
channel_df

,channelID,snippet_items_snippet_description,snippet_items_snippet_publishedAt,snippet_regionCode,statistics_items_statistics_subscriberCount,statistics_items_statistics_videoCount,statistics_items_statistics_viewCount
0,UCjOl2AUblVmg2rA_cRgZkFg,Welcome to the official home of Top Gear on Yo...,2006-03-27T10:22:50Z,US,7610000,1354,3012156814
1,UCes1EvRjcKU4sY_UEavndBw,Learn how to fix your own car with my easy to ...,2008-07-30T14:59:12Z,US,6920000,337,1020793024
2,UCsAegdhiYLEoaFGuJFVrqFQ,The ultimate automotive streaming service. Get...,2006-03-11T08:32:34Z,US,6580000,2214,1169502258
3,UCUhFaUpnq31m6TNX2VKVSVA,On the lookout for your next car? Head to carw...,2014-01-02T16:32:13Z,US,4650000,1317,1401956976
4,UCKSVUHI9rbbkXhvAXK-2uxA,"I'm Alex, that girl with the cars and I hunt d...",2007-09-12T17:33:49Z,US,4700000,239,363377842
...,...,...,...,...,...,...,...
0,UCfYCRj25JJQ41JGPqiqXmJw,My soul is in the sky! I hope my videos can br...,2007-11-04T00:22:28Z,US,2340000,337,511078250
1,UCxDZs_ltFFvn0FDHT6kmoXA,Going off the map in former Soviet lands...,2018-06-12T11:56:25Z,US,2250000,212,293687890
2,UC9avFXTdbSo5ATvzTRnAVFg,NEW VIDEOS MONDAYS AND THURSDAYS** Two brother...,2011-05-22T00:19:55Z,US,2120000,873,422298713
3,UC0Ize0RLIbGdH5x4wI45G-A,Hey guys! My name is Drew Binsky and I make da...,2012-07-26T03:24:35Z,US,1940000,781,379113325
4,UCwiTOchWeKjrJZw7S1H__1g,What you want to know about food. A division o...,2017-10-17T21:11:29Z,US,2560000,1052,864259797

In [7]:
#rename columns
channel_df.rename(columns={'channelID': 'channelId', 'snippet_items_snippet_description': 'description','snippet_items_snippet_publishedAt':'publishedAt','snippet_regionCode':'region','statistics_items_statistics_subscriberCount':'subscriberCount', 'statistics_items_statistics_videoCount':'videoCount','statistics_items_statistics_viewCount':'viewCount'}, inplace=True)

In [8]:
channel_df

,channelId,description,publishedAt,region,subscriberCount,videoCount,viewCount
0,UCjOl2AUblVmg2rA_cRgZkFg,Welcome to the official home of Top Gear on Yo...,2006-03-27T10:22:50Z,US,7610000,1354,3012156814
1,UCes1EvRjcKU4sY_UEavndBw,Learn how to fix your own car with my easy to ...,2008-07-30T14:59:12Z,US,6920000,337,1020793024
2,UCsAegdhiYLEoaFGuJFVrqFQ,The ultimate automotive streaming service. Get...,2006-03-11T08:32:34Z,US,6580000,2214,1169502258
3,UCUhFaUpnq31m6TNX2VKVSVA,On the lookout for your next car? Head to carw...,2014-01-02T16:32:13Z,US,4650000,1317,1401956976
4,UCKSVUHI9rbbkXhvAXK-2uxA,"I'm Alex, that girl with the cars and I hunt d...",2007-09-12T17:33:49Z,US,4700000,239,363377842
...,...,...,...,...,...,...,...
0,UCfYCRj25JJQ41JGPqiqXmJw,My soul is in the sky! I hope my videos can br...,2007-11-04T00:22:28Z,US,2340000,337,511078250
1,UCxDZs_ltFFvn0FDHT6kmoXA,Going off the map in former Soviet lands...,2018-06-12T11:56:25Z,US,2250000,212,293687890
2,UC9avFXTdbSo5ATvzTRnAVFg,NEW VIDEOS MONDAYS AND THURSDAYS** Two brother...,2011-05-22T00:19:55Z,US,2120000,873,422298713
3,UC0Ize0RLIbGdH5x4wI45G-A,Hey guys! My name is Drew Binsky and I make da...,2012-07-26T03:24:35Z,US,1940000,781,379113325
4,UCwiTOchWeKjrJZw7S1H__1g,What you want to know about food. A division o...,2017-10-17T21:11:29Z,US,2560000,1052,864259797

In [9]:
#write csv 
channel_df.to_csv('channel_df.csv',index = False, header = True)

### Video data

In [10]:
#import video csv
df6 = pd.read_csv('Extracted_video_1.csv')
df7 = pd.read_csv('Extracted_video_2.csv')
df8 = pd.read_csv('Extracted_video_3.csv')
df9 = pd.read_csv('Extracted_video_4.csv')
df10 = pd.read_csv('Extracted_video_5.csv')

In [11]:
#join video frames
frames_vid = [df6,df7, df8, df9,df10]
raw_videos_df = pd.concat(frames_vid)

In [32]:
raw_videos_df.head()

,channelID,snippet_etag,snippet_id,snippet_kind,snippet_snippet_channelId,snippet_snippet_channelTitle,snippet_snippet_description,snippet_snippet_playlistId,snippet_snippet_position,snippet_snippet_publishedAt,...,snippet_snippet_title,statistics_etag,statistics_id,statistics_kind,statistics_statistics_commentCount,statistics_statistics_dislikeCount,statistics_statistics_favoriteCount,statistics_statistics_likeCount,statistics_statistics_viewCount,uploadId
0,UCjOl2AUblVmg2rA_cRgZkFg,WAahMk9WtWpySnY2lCASw4ePXok,VVVqT2wyQVVibFZtZzJyQV9jUmdaa0ZnLjU2QjQ0RjZEMT...,youtube#playlistItem,UCjOl2AUblVmg2rA_cRgZkFg,Top Gear,"In this week's Top Gear, Flintoff gets his han...",UUjOl2AUblVmg2rA_cRgZkFg,0.0,2020-10-09T09:35:54Z,...,PREVIEW: Attempting 200mph in the Jaguar XJ220...,36CP5IifcBP_B0Mii868uAygRQI,NXX338WY_Lw,youtube#video,528.0,257.0,0.0,5819.0,184447.0,UUjOl2AUblVmg2rA_cRgZkFg
1,UCjOl2AUblVmg2rA_cRgZkFg,AykVkbQumaaRIMCfNCNxpugEJt8,VVVqT2wyQVVibFZtZzJyQV9jUmdaa0ZnLjI4OUY0QTQ2RE...,youtube#playlistItem,UCjOl2AUblVmg2rA_cRgZkFg,Top Gear,"From the humble new Volkswagen GTI, right down...",UUjOl2AUblVmg2rA_cRgZkFg,1.0,2020-10-09T11:21:23Z,...,Which car will win Top Gear Speed Week 2020? (...,gnLBCGarZQ7Z6NIIdIi5an29A7k,dtHcdU2c71Y,youtube#video,568.0,273.0,0.0,7136.0,217619.0,UUjOl2AUblVmg2rA_cRgZkFg
2,UCjOl2AUblVmg2rA_cRgZkFg,7aAk4SUaTt3yJnPfWHzxbPOhC_I,VVVqT2wyQVVibFZtZzJyQV9jUmdaa0ZnLjAxNzIwOEZBQT...,youtube#playlistItem,UCjOl2AUblVmg2rA_cRgZkFg,Top Gear,Here's Chris Harris' take on the rocket-disgui...,UUjOl2AUblVmg2rA_cRgZkFg,2.0,2020-10-07T07:40:22Z,...,Chris Harris on... the Ferrari SF90 Stradale |...,Ju9af5glQvYp6rlwu15TpSLjYU0,vnrtWe-RAzg,youtube#video,1091.0,408.0,0.0,10189.0,437777.0,UUjOl2AUblVmg2rA_cRgZkFg
3,UCjOl2AUblVmg2rA_cRgZkFg,tCH3_MDRUHal9-HYTGCp7OcARRs,VVVqT2wyQVVibFZtZzJyQV9jUmdaa0ZnLjUyMTUyQjQ5ND...,youtube#playlistItem,UCjOl2AUblVmg2rA_cRgZkFg,Top Gear,"16 contenders, 8,553bhp and a festival to reme...",UUjOl2AUblVmg2rA_cRgZkFg,3.0,2020-10-06T13:59:38Z,...,Chris Harris vs 2020’s Best Performance Cars |...,EYvTlQThWM0QpTidePq3ukUpLSk,Ra1F0TsOCPs,youtube#video,579.0,202.0,0.0,7126.0,191070.0,UUjOl2AUblVmg2rA_cRgZkFg
4,UCjOl2AUblVmg2rA_cRgZkFg,eM4cN4Fg-yAlbZetlnQCAg7NhJA,VVVqT2wyQVVibFZtZzJyQV9jUmdaa0ZnLjA5MDc5NkE3NU...,youtube#playlistItem,UCjOl2AUblVmg2rA_cRgZkFg,Top Gear,"The 986bhp Ferrari SF90 is, unsurprisingly, no...",UUjOl2AUblVmg2rA_cRgZkFg,4.0,2020-10-06T07:36:13Z,...,FASTEST TOP GEAR LAP? Ferrari SF90 Stiglap | T...,QnmmjB54wGcY4suqmiBOoyWMc7k,fXysipmTxcQ,youtube#video,888.0,168.0,0.0,9697.0,572569.0,UUjOl2AUblVmg2rA_cRgZkFg

#### Checking extracted video data

In [35]:
raw_videos_df.info() #about 100k data dont have statistics (commentCount,likeCount,etc)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 586809 entries, 0 to 3254
Data columns (total 37 columns):
channelID                                     586809 non-null object
snippet_etag                                  570410 non-null object
snippet_id                                    570410 non-null object
snippet_kind                                  570410 non-null object
snippet_snippet_channelId                     570410 non-null object
snippet_snippet_channelTitle                  570410 non-null object
snippet_snippet_description                   567869 non-null object
snippet_snippet_playlistId                    570397 non-null object
snippet_snippet_position                      570397 non-null float64
snippet_snippet_publishedAt                   570397 non-null object
snippet_snippet_resourceId_kind               570390 non-null object
snippet_snippet_resourceId_videoId            570390 non-null object
snippet_snippet_thumbnails_default_height     570362 non-null float64
snippet_snippet_thumbnails_default_url        570362 non-null object
snippet_snippet_thumbnails_default_width      570362 non-null float64
snippet_snippet_thumbnails_high_height        570375 non-null float64
snippet_snippet_thumbnails_high_url           570375 non-null object
snippet_snippet_thumbnails_high_width         570375 non-null float64
snippet_snippet_thumbnails_maxres_height      476368 non-null float64
snippet_snippet_thumbnails_maxres_url         476368 non-null object
snippet_snippet_thumbnails_maxres_width       476368 non-null float64
snippet_snippet_thumbnails_medium_height      570375 non-null object
snippet_snippet_thumbnails_medium_url         474529 non-null object
snippet_snippet_thumbnails_medium_width       474529 non-null object
snippet_snippet_thumbnails_standard_height    428461 non-null object
snippet_snippet_thumbnails_standard_url       428455 non-null object
snippet_snippet_thumbnails_standard_width     428461 non-null float64
snippet_snippet_title                         474542 non-null object
statistics_etag                               474537 non-null object
statistics_id                                 474537 non-null object
statistics_kind                               474537 non-null object
statistics_statistics_commentCount            456656 non-null float64
statistics_statistics_dislikeCount            472599 non-null float64
statistics_statistics_favoriteCount           474524 non-null float64
statistics_statistics_likeCount               472599 non-null float64
statistics_statistics_viewCount               474318 non-null float64
uploadId                                      474524 non-null object
dtypes: float64(13), object(24)
memory usage: 170.1+ MB

In [33]:
raw_videos_df.shape

(586809, 37)

cols to keep 'snippet_snippet_channelId', 'snippet_snippet_description','snippet_snippet_publishedAt','snippet_snippet_resourceId_videoId',
'snippet_snippet_thumbnails_default_url',
'snippet_snippet_title',
'statistics_statistics_commentCount',
'statistics_statistics_likeCount', 'statistics_statistics_dislikeCount','statistics_statistics_viewCount'

In [34]:
#drop columns
raw_videos_df = raw_videos_df.drop(columns=['snippet_etag','snippet_id','snippet_kind','channelID','snippet_snippet_channelTitle','snippet_snippet_playlistId','snippet_snippet_position','snippet_snippet_resourceId_kind','snippet_snippet_thumbnails_default_height','snippet_snippet_thumbnails_default_width','snippet_snippet_thumbnails_high_height','snippet_snippet_thumbnails_high_url','snippet_snippet_thumbnails_high_width','snippet_snippet_thumbnails_maxres_height','snippet_snippet_thumbnails_maxres_url','snippet_snippet_thumbnails_maxres_width','snippet_snippet_thumbnails_medium_height','snippet_snippet_thumbnails_medium_url','snippet_snippet_thumbnails_medium_width','snippet_snippet_thumbnails_standard_height','snippet_snippet_thumbnails_standard_url','snippet_snippet_thumbnails_standard_width','statistics_etag', 'statistics_id','statistics_kind','statistics_statistics_favoriteCount','uploadId'])

In [35]:
print("-----------------------------ChannelID--------------------------------------------------")
print(raw_videos_df["snippet_snippet_channelId"].value_counts(dropna=False))
print("-----------------------------decription--------------------------------------------------")
print(raw_videos_df["snippet_snippet_description"].value_counts(dropna=False))
print("-----------------------------publishedAt--------------------------------------------------")
print(raw_videos_df["snippet_snippet_publishedAt"].value_counts(dropna=False))
print("-----------------------------video ID--------------------------------------------------")
print(raw_videos_df["snippet_snippet_resourceId_videoId"].value_counts(dropna=False))

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     1
As Kobe Bryant takes on the Heat for the last time, take a look back at his best moments in Miami.\n\nAbout the NBA: \nThe NBA is the premier professional basketball league in the United States and Canada. The league is truly global, with games and programming in 215 countries and territories in 47 languages, as well as NBA rosters at the start of the 2015-16 season featuring  100 international players from 37 countries and territories. For the 2015-16 season, each of the league's 30 teams will play 82 regular-season games, followed by a postseason for those that qualify. \n\nThe NBA consists of the following teams: Atlanta Hawks; Boston Celtics; Brooklyn Nets; Charlotte Hornets; Chicago Bulls; Cleveland Cavaliers; Dallas Mavericks; Denver Nuggets; Detroit Pistons; Golden State Warriors; Houston Rockets; Indiana Pacers; Los Angeles Clippers; Los Angeles Lakers; Memphis Grizzlies; Miami Heat; Milwaukee Bucks; Minnesota Timberwolves; New Orleans Pelicans; New York Knicks; Oklahoma City Thunder; Orlando Magic; Philadelphia 76ers; Phoenix Suns; Portland Trail Blazers; Sacramento Kings; San Antonio Spurs; Toronto Raptors; Utah Jazz; Washington Wizards. \n\nThe NBA offers real time access to live regular season NBA games with a subscription to NBA LEAGUE PASS, available globally for TV, broadband, and mobile.  Real-time Stats, Scores, Highlights and more are available to fans on web and mobile with the NBA App. \n\n\nFor more information, as well as all the latest NBA news and highlights, log onto the league's official website at http://www.NBA.com \n\nSubscribe on YouTube:                        http://www.youtube.com/nba\nSubscribe to NBA LEAGUE PASS       http://www.nba.com/leaguepass\nDownload NBA Game Time                 http://www.nba.com/mobile\nLike us on Facebook:                           http://www.facebook.com/nba\nFollow us on Twitter:                            http://www.twitter.com/nba\nFollow us on Instagram:                       http://www.instagram.com/nba\nFollow us on Tumblr                             http://nba.tumblr.com\nShop for NBA Gear:                              http://store.nba.com                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       1
How to Lose Belly Fat Quickly. With summer finally here, a lot of us are looking for ways to get in shape quickly and with not dieting or hours at the gym. If you’re ready to transform your body and get the perfectly toned stomach of your dreams, then grab your sportswear and let’s do this. \nWe’ll show you some simple yet super effective exercises that’ll help you burn fat and get a flat belly in no time. \n\nTIMESTAMPS\nExercise #1. Crunches 0:32\nExercise #2. Side bends 2:03\nExercise #3. Vertical leg lifts 3:31\nExercise #4. Forearm plank 5:09\nExercise #5. Bridge exercise 6:02\nExercise #6. Side plank 8:02\nExercise #7. Cobra pose 8:52\nExercise #8. Boat pose 9:50\n\nCrunches 0:32\nCrunches are a champion of burning belly fat and flattening the stomach in a snap. So lie on your back with your knees bent and your feet planted firmly on the mat about hip-width apart. Put your hands behind your head, making sure that your thumbs are placed behind your ears and that your fingers support your head. Then, use your abs to lift your upper body off the floor, keeping your elbows wide apart. Go back to the initial position and repeat.\n\nVertical leg lifts 3:31\nLeg lifts are a true miracle-worker for toning the lower abs. Lie on your back with your arms down at your sides and your legs straight and pulled together. From this position, lift both legs up until your hips form a 90-degree angle. Then, lower them back down until they hover above the floor. Hold this position for about 2-3 seconds, and then lift your legs up again.\n\nBridge exercise 6:02\nLie on your back with your knees bent and your feet hip-width apart. Keep your arms down at your sides. Now, raise your hips up to create a straight line from your knees to your shoulders, curl your spine, and come back down. We’re gonna do 3 sets of 20.\n\nCobra pose 8:52\nCobra pose tones your abs, strengthens your arms and shoulders, and even boosts your mood! You'll see these results in no time once you start doing this simple exercise regularly. Lie on your stomach, straighten your legs out behind you, keep your hands under your shoulders, and point your elbows back. Press your feet and thighs against the floor, then straighten your arms, and lift your chest off the ground. Press your tailbone towards your pubic bone and your shoulder blades towards each other. Hold this pose for 30 seconds.\n\nBoat pose 9:50\nThis exercise stimulates the kidneys and helps improve digestion. It’ll also leave you with a perfectly flat and toned belly. Sit on your bottom with your knees bent and your feet flat on the floor. Now, lean back slightly and lift your feet so that your shins are parallel to the floor. Stretch your arms out in front of you at shoulder-height to keep your balance. Hold this position for 30 seconds.\n\nMusic: \nhttps://www.youtube.com/audiolibrary/music\n\nSUMMARY\n-Crunches are a champion of burning belly fat and flattening the stomach in a snap.\n-Doing side bends regularly will obliterate that annoying muffin top we all hate so much.\n-Leg lifts are a true miracle-worker for toning the lower abs.\n-Plank might look simple, but it’s actually extremely effective for strengthening your abs, obliques, back, and pelvic floor.\n-Do bridges regularly, and you’ll see not only tightened abs but a nicely shaped rear-end too.\n-The side plank is a great exercise that will tone your core muscles, boost your metabolism, and improve your stamina.\n-Cobra pose tones your abs, strengthens your arms and shoulders, and even boosts your mood.\n-The boat pose is by far the hardest exercise in our workout. This exercise stimulates the kidneys and helps improve digestion.\n\nSubscribe to Bright Side : https://goo.gl/rQTJZz\n\n----------------------------------------------------------------------------------------\nOur Social Media:\n\nFacebook: https://www.facebook.com/brightside/\nInstagram: https://www.instagram.com/brightgram/\n\n5-Minute Crafts Youtube: https://www.goo.gl/8JVmuC\n\n----------------------------------------------------------------------------------------\nFor more videos and articles visit:\nhttp://www.brightside.me/        1
Scotty Kilmer, mechanic for the last 43 years, shows some useful auto repair tools that you might giving to any car guy for Christmas or whenever as a gift. Top 4 Christmas Gift Ideas. Here are all of the coolest gadgets and tools for this year.\n\n⬇️Things used in this video:\n1. Stubby Ratcheting Wrench Set: http://amzn.to/2BvR1iu\n2. Power Probe: http://amzn.to/2Au7OUO\n3. Wireless Chassis Ear Diagnostic Device: http://amzn.to/2BuQuNN\n4. Penetrating Catalyst: http://amzn.to/2BtBvn3\n5. Common Sense\n6. Full HD Camera: http://amzn.to/2AvoEk7\n7. My computer for editing / uploading: http://amzn.to/2i2sKYz\n8. Video editing software: http://amzn.to/2jv5Fhf\n9. Thumbnail software: http://amzn.to/2k7tz6C\n\n🛠Check out my Garage to see what I use every day and highly recommend:\nhttps://www.amazon.com/shop/scottykilmer\n\n❗️Check out the Scotty store:\nhttps://goo.gl/RwhRGU\n\n👉Follow me on Instagram for the latest news, funnies, and exclusive info / pics:\nhttps://goo.gl/ohy2cA\n\nIf you liked this video, consider subscribing and press the bell Icon to get updated on the latest videos every week.\n\nAnd remember, every day (7 days a week), I upload a new video on the Scotty Kilmer Channel: https://www.youtube.com/user/scottykilmer\n\nAlso, if you like my car help, be sure to watch my live car talk show, every Thursday afternoon at 1 CST and Saturday morning at 10 AM CST on YouTube. I answer your car questions LIVE there. Just check it out at: https://www.youtube.com/watch?v=yQtdBelbqdg\nScotty Kilmer is a participant in the Amazon Influencer Program.\n#savagescotty                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   1
After the Houston Rockets posted one of the greatest offensive seasons in the history of the NBA, coach Mike D'Antoni was named 2016-17 NBA Coach of the Year at the NBA Awards Show on June 26, 2017. Led by James Harden, D'Antoni's team set an NBA record for 3-pointers in a season and finished third in the Western Conference.\n\nThe NBA held the first-ever NBA Awards on TNT to honor all of the league’s top performers on one night. The official award show, held at Basketball City at Pier 36 in New York City, will present awards for Kia NBA Most Valuable Player, Kia NBA Rookie of the Year, Kia NBA Sixth Man Award, Kia NBA Defensive Player of the Year, Kia NBA Most Improved Player and NBA Coach of the Year among others.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    1
Name: snippet_snippet_description, Length: 452110, dtype: int64
-----------------------------publishedAt--------------------------------------------------
360                     72997
360.0                   22862
NaN                     16412
2009-08-25T16:11:38Z       17
2009-08-25T16:11:39Z       12
                        ...
2019-10-26T12:33:22Z        1
2020-07-30T21:00:06Z        1
2016-04-21T16:50:55Z        1
2017-03-15T16:06:07Z        1
2015-02-14T05:21:17Z        1
Name: snippet_snippet_publishedAt, Length: 472257, dtype: int64
-----------------------------video ID--------------------------------------------------
480            72997
480.0          22862
NaN            16419
#NAME?            43
IDEuVsutcO0        1
               ...
5Zk_Q6bAjss        1
RLMpH2w6Jvw        1
3w-MGV1cC78        1
RFrPqZu0d7o        1
-GNj9GCH9K0        1
Name: snippet_snippet_resourceId_videoId, Length: 474492, dtype: int64

In [43]:
print("-----------------------------video Title--------------------------------------------------")
print(raw_videos_df["snippet_snippet_title"].value_counts(dropna=False))
print("-----------------------------comment count--------------------------------------------------")
print(raw_videos_df["statistics_statistics_commentCount"].value_counts(dropna=False))
print("-----------------------------like count--------------------------------------------------")
print(raw_videos_df["statistics_statistics_likeCount"].value_counts(dropna=False))
print("-----------------------------dislike count--------------------------------------------------")
print(raw_videos_df["statistics_statistics_dislikeCount"].value_counts(dropna=False))
print("-----------------------------view count--------------------------------------------------")
print(raw_videos_df["statistics_statistics_viewCount"].value_counts(dropna=False))

-----------------------------video Title--------------------------------------------------
NaN                                                                        112267
DAILY MOFA BRIEFING                                                           149
NBA Meme Team - Top 5                                                         103
Обзор игрушек                                                                  75
NBA Bloopers: The Starters                                                     70
                                                                            ...
Christine (1983) - Run, Moochie, Run Scene (5/10) | Movieclips                  1
LIGHTSABER DUELS | Dino Horde Duels #1                                          1
The Fourth Phase (2016) - I'm Scared, Finally Scene (7/10) | Movieclips         1
UFC Vegas 6: Fighters You Should Know                                           1
Indian Parents Explain Why Girls Get Their Period                               1
Name: snippet_snippet_title, Length: 465722, dtype: int64
-----------------------------comment count--------------------------------------------------
NaN        130153
0.0         34365
1.0         17726
2.0         12722
3.0          9184
            ...
48068.0         1
28361.0         1
62724.0         1
28369.0         1
32765.0         1
Name: statistics_statistics_commentCount, Length: 22803, dtype: int64
-----------------------------like count--------------------------------------------------
NaN         114210
2.0           5425
3.0           5310
4.0           4914
1.0           4716
             ...
385273.0         1
38508.0          1
59417.0          1
59416.0          1
131069.0         1
Name: statistics_statistics_likeCount, Length: 77998, dtype: int64
-----------------------------dislike count--------------------------------------------------
NaN         114210
0.0          32301
1.0          21422
2.0          15289
3.0          11339
             ...
264679.0         1
16542.0          1
16541.0          1
16538.0          1
131067.0         1
Name: statistics_statistics_dislikeCount, Length: 20082, dtype: int64
-----------------------------view count--------------------------------------------------
NaN           112491
235.0            112
197.0            110
165.0            109
270.0            108
               ...
4807001.0          1
300436.0           1
4806946.0          1
19227747.0         1
2097146.0          1
Name: statistics_statistics_viewCount, Length: 283456, dtype: int64

In [34]:
len(raw_videos_df["snippet_snippet_channelId"].unique()) # but we only have 160 channels

169

In [36]:
#checking video data of those with invalid video Id, are they the ones responsible for the invalid values in other fields?
rowsInvalidID = raw_videos_df[raw_videos_df['snippet_snippet_resourceId_videoId'].apply(lambda x: len(str(x)) != len("wh1dIIhjjIw"))] #length != a typical videoID

In [37]:
print("-----------------------------ChannelID--------------------------------------------------")
print(rowsInvalidID["snippet_snippet_channelId"].value_counts(dropna=False))
# print("-----------------------------decription--------------------------------------------------")
# print(rowsInvalidID["snippet_snippet_description"].value_counts(dropna=False))
print("-----------------------------publishedAt--------------------------------------------------")
print(rowsInvalidID["snippet_snippet_publishedAt"].value_counts(dropna=False))
print("-----------------------------video ID--------------------------------------------------")
print(rowsInvalidID["snippet_snippet_resourceId_videoId"].value_counts(dropna=False))

-----------------------------ChannelID--------------------------------------------------
youtube#video               95859
NaN                         16399
UC0Ize0RLIbGdH5x4wI45G-A       16
UCp0hYYBW6IMayGgR-WeoCvQ       13
UCwiTOchWeKjrJZw7S1H__1g       10
UC9avFXTdbSo5ATvzTRnAVFg       10
UCxDZs_ltFFvn0FDHT6kmoXA        4
UCfYCRj25JJQ41JGPqiqXmJw        3
117                             1
165                             1
408                             1
670                             1
688                             1
47                              1
724                             1
Name: snippet_snippet_channelId, dtype: int64
-----------------------------publishedAt--------------------------------------------------
360                         72997
360.0                       22862
NaN                         16412
UU16niRr50-MSBwiO3YDb3RA        5
UU4i_9WvfPRTuRWEaWyfKuFw        2
2020-05-14T05:15:42Z            1
2016-09-05T07:53:16Z            1
2015-06-01T09:18:55Z            1
2018-09-28T19:45:01Z            1
2018-10-24T07:01:31Z            1
2018-10-06T16:59:25Z            1
2018-05-23T05:15:54Z            1
2019-12-07T08:37:51Z            1
2015-10-26T19:45:02Z            1
2019-02-03T08:57:49Z            1
2014-10-02T00:39:40Z            1
2018-04-19T06:00:00Z            1
2020-04-18T02:43:57Z            1
2018-02-10T19:13:42Z            1
2014-03-12T08:42:47Z            1
2020-04-13T16:10:09Z            1
2019-06-26T18:26:30Z            1
2019-07-04T21:37:45Z            1
2019-11-08T01:13:08Z            1
2019-08-29T18:49:25Z            1
2017-05-19T13:40:51Z            1
2020-04-14T18:25:10Z            1
2018-05-06T14:46:11Z            1
2017-12-13T15:21:23Z            1
2014-06-26T07:24:34Z            1
2018-05-09T14:09:42Z            1
2017-11-30T09:18:43Z            1
2016-01-18T16:22:25Z            1
2019-03-03T15:06:10Z            1
2015-12-07T15:58:15Z            1
2018-02-16T17:40:43Z            1
2015-12-24T16:00:10Z            1
2017-12-04T21:15:42Z            1
2018-11-20T18:04:37Z            1
2020-01-23T04:58:44Z            1
2020-08-04T13:44:15Z            1
2018-10-16T20:00:49Z            1
2014-11-28T16:59:04Z            1
2018-06-12T13:57:07Z            1
2014-12-22T09:15:53Z            1
2019-03-29T14:39:21Z            1
2018-04-17T08:08:11Z            1
2018-06-23T10:15:47Z            1
Name: snippet_snippet_publishedAt, dtype: int64
-----------------------------video ID--------------------------------------------------
480       72997
480.0     22862
NaN       16419
#NAME?       43
Name: snippet_snippet_resourceId_videoId, dtype: int64

In [59]:
print("-----------------------------video Title--------------------------------------------------")
print(rowsInvalidID["snippet_snippet_title"].value_counts(dropna=False))
print("-----------------------------comment count--------------------------------------------------")
print(rowsInvalidID["statistics_statistics_commentCount"].value_counts(dropna=False))
print("-----------------------------like count--------------------------------------------------")
print(rowsInvalidID["statistics_statistics_likeCount"].value_counts(dropna=False))
print("-----------------------------dislike count--------------------------------------------------")
print(rowsInvalidID["statistics_statistics_dislikeCount"].value_counts(dropna=False))
print("-----------------------------view count--------------------------------------------------")
print(rowsInvalidID["statistics_statistics_viewCount"].value_counts(dropna=False))

-----------------------------video Title--------------------------------------------------
NaN                                                                            112265
0                                                                                  13
WORLD'S STRANGEST BORDERS                                                           1
INDIAN FOOD! (ALL THE DISHES) - Fung Bros Food                                      1
US vs UK KFC | Food Wars                                                            1
LGBT Pride in Timor-Leste?                                                          1
ASIAN GUYS TALK NBA (2014-2015 Seasons Preview) | Fung Bros                         1
The Internet Couldn't Get Enough Of These Foods In 2017                             1
THE HITCHHIKER (Amazing Travel Story)                                               1
Taco Bell Secret Menu: The Incredible Hulk Burrito | Fast Food Secret Menus         1
THIS IS LIBYA 🇱🇾(I can't believe I am here...)                                      1
Coppia Ferrarese Is A Cross-Shaped Italian Bread | Regional Eats                    1
My 3 Scariest Travel Stories 😰                                                      1
How to Visit IRAN? 10 Travel Tips                                                   1
Victoria Falls - The Most FUN Place on Earth?!                                      1
THE ORIGINAL HIPPIE (on Lamma Island, Hong Kong)                                    1
We Tried A Grilled Cheese Toaster                                                   1
They Are Living With CROCODILES (Burkina Faso)                                      1
🇲🇲 Trying 20¢ Cold Burmese Noodles | Worst Meal Ever!                               1
A Story to Warm Your Heart :)                                                       1
ASIA TRIP! Taiwan, Hong Kong, Singapore! | Fung Bros                                1
Inside The Factory That Makes NYC's Most Legendary Bread                            1
Flying the Presidential VIP Boeing 727 Private Jet                                  1
Pizza Served With A Mountain Of Cold Cheese                                         1
Cheesiest Burger In London                                                          1
It's a Party at KFC!! (Seriously)                                                   1
Chechnya Isn't What You'd Expect!                                                   1
THINGS ASIAN PARENTS DO #8 | Fung Bros                                              1
ASIANS IN AUSTRALIA BEING ADVENTUROUS World Tour | Fung Bros                        1
Qatar Airways Al Safwa First Class Lounge, the best First Class Lounge!             1
Do Tourists Ruin Travel? | Angkor Wat, Cambodia                                     1
MALAYSIAN STEREOTYPES? ft. JinnyBoyTV, GrimFilm and more! | Fung Bros               1
Professional Chef Debunks 13 Cooking Myths                                          1
SCARIEST TRAVEL STORIES (Part 3)                                                    1
India's Russian Beach | Arambol 🇷🇺                                                  1
BEST CHEESESTEAK IN PHILLY? (Pat's VS Geno's) | Fung Bros                           1
NBA SIGNATURE MOVES 8 - Kevin Durant's Greatest Moments | Fung Bros                 1
Is This Really Europe?!                                                             1
2015 GoPro Selfie Video in 33 Countries                                             1
22 Signs You Were Raised by Chinese Immigrants | Fung Bros                          1
HOMEMADE ORGANIC BOBA RECIPES?!?! | Fung Bros                                       1
Dominique Ansel Bakery Has Garden-Themed Afternoon Tea                              1
World's BEST Business Class - Qatar Airways Qsuite                                  1
My Thoughts on Tipping in the USA                                                   1
This is 1,900 Years Old (DJEMILA, ALGERIA)                                          1
Name: snippet_snippet_title, dtype: int64
-----------------------------comment count--------------------------------------------------
NaN       112278
159.0          1
821.0          1
410.0          1
1124.0         1
945.0          1
1632.0         1
5479.0         1
203.0          1
416.0          1
276.0          1
1615.0         1
3738.0         1
274.0          1
42.0           1
2172.0         1
543.0          1
3634.0         1
195.0          1
1037.0         1
128.0          1
119.0          1
1534.0         1
702.0          1
74.0           1
1773.0         1
3031.0         1
4050.0         1
754.0          1
28.0           1
103.0          1
1712.0         1
9487.0         1
2366.0         1
9204.0         1
975.0          1
358.0          1
562.0          1
355.0          1
4646.0         1
354.0          1
64.0           1
104.0          1
414.0          1
Name: statistics_statistics_commentCount, dtype: int64
-----------------------------like count--------------------------------------------------
NaN        112278
5081.0          1
15180.0         1
7528.0          1
4452.0          1
59788.0         1
3725.0          1
12820.0         1
25619.0         1
5354.0          1
8636.0          1
5307.0          1
34180.0         1
456.0           1
4205.0          1
24992.0         1
4186.0          1
49800.0         1
66600.0         1
2053.0          1
2051.0          1
5605.0          1
10176.0         1
256.0           1
1181.0          1
888.0           1
24097.0         1
3510.0          1
1498.0          1
23870.0         1
55333.0         1
11716.0         1
1190.0          1
1689.0          1
705.0           1
4705.0          1
74890.0         1
22794.0         1
1422.0          1
7720.0          1
1673.0          1
481.0           1
5646.0          1
2815.0          1
Name: statistics_statistics_likeCount, dtype: int64
-----------------------------dislike count--------------------------------------------------
NaN       112278
22.0           2
98.0           2
29.0           1
56.0           1
516.0          1
192.0          1
400.0          1
529.0          1
1330.0         1
268.0          1
1058.0         1
198.0          1
1565.0         1
116.0          1
18.0           1
900.0          1
1027.0         1
8.0            1
128.0          1
30.0           1
510.0          1
420.0          1
1683.0         1
1778.0         1
157.0          1
112.0          1
47.0           1
623.0          1
311.0          1
45.0           1
314.0          1
369.0          1
124.0          1
592.0          1
246.0          1
20.0           1
74.0           1
27.0           1
486.0          1
970.0          1
16.0           1
Name: statistics_statistics_dislikeCount, dtype: int64
-----------------------------view count--------------------------------------------------
NaN          112278
2604905.0         1
179738.0          1
1961568.0         1
359079.0          1
292993.0          1
3892002.0         1
2797286.0         1
698509.0          1
347462.0          1
173414.0          1
2753244.0         1
551282.0          1
58617.0           1
805299.0          1
116927.0          1
116425.0          1
232304.0          1
49723.0           1
198512.0          1
82132.0           1
721306.0          1
114461.0          1
3937343.0         1
27798.0           1
57020.0           1
40496.0           1
40357.0           1
644666.0          1
320858.0          1
39930.0           1
899377.0          1
382680.0          1
887053.0          1
1194680.0         1
2026245.0         1
2026114.0         1
15730.0           1
2430127.0         1
46149.0           1
867534.0          1
302045.0          1
107730.0          1
90234.0           1
Name: statistics_statistics_viewCount, dtype: int64

In [38]:
rowsInvalidID.head()

,snippet_snippet_channelId,snippet_snippet_description,snippet_snippet_publishedAt,snippet_snippet_resourceId_videoId,snippet_snippet_thumbnails_default_url,snippet_snippet_title,statistics_statistics_commentCount,statistics_statistics_dislikeCount,statistics_statistics_likeCount,statistics_statistics_viewCount
42843,UCp0hYYBW6IMayGgR-WeoCvQ,Check out Ellen’s fun new game in which you tr...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42844,youtube#video,90,360,480,NaN,0,NaN,NaN,NaN,NaN
43131,UCp0hYYBW6IMayGgR-WeoCvQ,Ellen sent her friend Kathy on a Carnival crui...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43132,youtube#video,90,360,480,NaN,0,NaN,NaN,NaN,NaN
43401,UCp0hYYBW6IMayGgR-WeoCvQ,Ellen sent her executive producer Andy Lassner...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
raw_videos_df2 = raw_videos_df[raw_videos_df['snippet_snippet_resourceId_videoId'].apply(lambda x: len(str(x)) == len("wh1dIIhjjIw"))] #extract rows w/ id = a typical videoID

In [40]:
print("-----------------------------ChannelID--------------------------------------------------")
print(raw_videos_df2["snippet_snippet_channelId"].value_counts(dropna=False))
# print("-----------------------------decription--------------------------------------------------")
# print(raw_videos_df2["snippet_snippet_description"].value_counts(dropna=False))
print("-----------------------------publishedAt--------------------------------------------------")
print(raw_videos_df2["snippet_snippet_publishedAt"].value_counts(dropna=False))
print("-----------------------------video ID--------------------------------------------------")
print(raw_videos_df2["snippet_snippet_resourceId_videoId"].value_counts(dropna=False))

-----------------------------ChannelID--------------------------------------------------
UCVSNOxehfALut52NbkfRBaA    20000
UChLtXXpo4Ge1ReTEboVvTDg    20000
UC8p1vwvWtl6T73JiExfWs1g    20000
UCupvZG-5ko_eiXAupbDfxWw    20000
UCBi2mrWuNuyYy4gbM6fU18Q    20000
                            ...
UCI8FQkQ-Iv73GZcsJ-6pNWw       74
UCB7BryuXaMe1pUMznYAq4Jg       57
UCAL3JXZSzSm8AlZyD3nQdBA       51
UCiGm_E4ZwYSHV3bcW1pnSeQ       31
UCBP4B896svWOcWdRp8UjH2Q       28
Name: snippet_snippet_channelId, Length: 160, dtype: int64
-----------------------------publishedAt--------------------------------------------------
2009-08-25T16:11:38Z    17
2009-08-25T16:11:39Z    12
2009-09-04T11:35:47Z    12
2009-10-15T13:50:57Z    10
2010-02-05T10:52:56Z    10
                        ..
2019-08-26T23:02:19Z     1
2019-10-26T12:33:22Z     1
2020-07-30T21:00:06Z     1
2016-04-21T16:50:55Z     1
2020-04-29T21:07:40Z     1
Name: snippet_snippet_publishedAt, Length: 472209, dtype: int64
-----------------------------video ID--------------------------------------------------
y6Me3XXR8T4    1
BIqFl1Kv6X0    1
sVJmua0CkhE    1
UpVOYnO5tc8    1
8dTelszbObM    1
              ..
RLMpH2w6Jvw    1
3w-MGV1cC78    1
RFrPqZu0d7o    1
DMI298-yv4Q    1
0O3gEPaMZkk    1
Name: snippet_snippet_resourceId_videoId, Length: 474488, dtype: int64

In [63]:
print("-----------------------------video Title--------------------------------------------------")
print(raw_videos_df2["snippet_snippet_title"].value_counts(dropna=False))
print("-----------------------------comment count--------------------------------------------------")
print(raw_videos_df2["statistics_statistics_commentCount"].value_counts(dropna=False))
print("-----------------------------like count--------------------------------------------------")
print(raw_videos_df2["statistics_statistics_likeCount"].value_counts(dropna=False))
print("-----------------------------dislike count--------------------------------------------------")
print(raw_videos_df2["statistics_statistics_dislikeCount"].value_counts(dropna=False))
print("-----------------------------view count--------------------------------------------------")
print(raw_videos_df2["statistics_statistics_viewCount"].value_counts(dropna=False))

-----------------------------video Title--------------------------------------------------
DAILY MOFA BRIEFING                                                        149
NBA Meme Team - Top 5                                                      103
Обзор игрушек                                                               75
NBA Bloopers: The Starters                                                  70
Top 10 Plays: The Starters                                                  65
                                                                          ...
Christine (1983) - Run, Moochie, Run Scene (5/10) | Movieclips               1
LIGHTSABER DUELS | Dino Horde Duels #1                                       1
The Fourth Phase (2016) - I'm Scared, Finally Scene (7/10) | Movieclips      1
UFC Vegas 6: Fighters You Should Know                                        1
6 things you  need to know before tonight's Raw: April 16, 2018              1
Name: snippet_snippet_title, Length: 465678, dtype: int64
-----------------------------comment count--------------------------------------------------
0.0        34365
NaN        17875
1.0        17726
2.0        12722
3.0         9184
           ...
23369.0        1
31018.0        1
23367.0        1
11683.0        1
89940.0        1
Name: statistics_statistics_commentCount, Length: 22803, dtype: int64
-----------------------------like count--------------------------------------------------
2.0         5425
3.0         5310
4.0         4914
1.0         4716
5.0         4335
            ...
457078.0       1
90199.0        1
721579.0       1
721572.0       1
95034.0        1
Name: statistics_statistics_likeCount, Length: 77993, dtype: int64
-----------------------------dislike count--------------------------------------------------
0.0        32301
1.0        21422
2.0        15289
3.0        11339
4.0         9272
           ...
49673.0        1
9104.0         1
99342.0        1
49668.0        1
23799.0        1
Name: statistics_statistics_dislikeCount, Length: 20082, dtype: int64
-----------------------------view count--------------------------------------------------
NaN           213
235.0         112
197.0         110
165.0         109
270.0         108
             ...
26575106.0      1
3321881.0       1
4158077.0       1
345103.0        1
2097146.0       1
Name: statistics_statistics_viewCount, Length: 283425, dtype: int64

In [60]:
raw_videos_df2.shape

(474488, 10)

In [41]:
### Extract only videos from the past 5 years
from time import gmtime, strftime
from datetime import datetime
import re

In [61]:
raw_videos_df2['snippet_snippet_publishedAt'] = raw_videos_df2['snippet_snippet_publishedAt'].astype(str)
raw_videos_df2['snippet_snippet_publishedAt'] = raw_videos_df2['snippet_snippet_publishedAt'].apply(lambda x: re.sub('[TZ]',' ',x))
raw_videos_df2['snippet_snippet_publishedAt'] = raw_videos_df2['snippet_snippet_publishedAt'].map(lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S '))

In [62]:
raw_videos_df2 = raw_videos_df2[raw_videos_df2['snippet_snippet_publishedAt'] >= pd.Timestamp(datetime(2015,1,1))]

In [63]:
raw_videos_df2.shape

(408765, 10)

In [66]:
#drop rows that have null likeCount, dislikeCount,viewCount and commentCount
raw_videos_df2 = raw_videos_df2.dropna(subset=["statistics_statistics_likeCount",'statistics_statistics_dislikeCount','statistics_statistics_viewCount','statistics_statistics_commentCount'],how='all')

In [67]:
raw_videos_df2.shape

(408690, 10)

In [68]:
print("-----------------------------ChannelID--------------------------------------------------")
print(raw_videos_df2["snippet_snippet_channelId"].value_counts(dropna=False))
# print("-----------------------------decription--------------------------------------------------")
# print(raw_videos_df2["snippet_snippet_description"].value_counts(dropna=False))
print("-----------------------------publishedAt--------------------------------------------------")
print(raw_videos_df2["snippet_snippet_publishedAt"].value_counts(dropna=False))
print("-----------------------------video ID--------------------------------------------------")
print(raw_videos_df2["snippet_snippet_resourceId_videoId"].value_counts(dropna=False))

-----------------------------ChannelID--------------------------------------------------
UCsT0YIqwnpJCM-mx7-gSA4Q    20000
UCBi2mrWuNuyYy4gbM6fU18Q    20000
UCeY0bbntWzzVIaj2z3QigXg    20000
UCVSNOxehfALut52NbkfRBaA    20000
UC8p1vwvWtl6T73JiExfWs1g    20000
                            ...
UCBP4B896svWOcWdRp8UjH2Q       28
UC2xskkQVFEpLcGFnNSLQY0A       22
UCb2HGwORFBo94DmRx4oLzow       20
UCNL1ZadSjHpjm4q9j2sVtOA       17
UCPNxhDvTcytIdvwXWAm43cA       13
Name: snippet_snippet_channelId, Length: 160, dtype: int64
-----------------------------publishedAt--------------------------------------------------
2020-05-01 17:03:32    7
2015-10-13 00:19:14    5
2020-05-02 01:27:56    5
2020-05-02 02:24:04    5
2017-12-28 08:24:55    4
                      ..
2018-08-24 20:40:52    1
2019-10-16 01:34:24    1
2017-03-09 19:15:40    1
2019-03-14 15:26:00    1
2019-09-20 23:05:14    1
Name: snippet_snippet_publishedAt, Length: 406854, dtype: int64
-----------------------------video ID--------------------------------------------------
y6Me3XXR8T4    1
OixsK7u_Wk4    1
YV0SnMGeatQ    1
wPDuIsU0-Xg    1
fwijCB6cH-0    1
              ..
ogmpqTGy-O4    1
iJvM-VuI7e0    1
JkF7KQlq7is    1
plu4CKLFDPs    1
0O3gEPaMZkk    1
Name: snippet_snippet_resourceId_videoId, Length: 408690, dtype: int64

In [69]:
print("-----------------------------video Title--------------------------------------------------")
print(raw_videos_df2["snippet_snippet_title"].value_counts(dropna=False))
print("-----------------------------comment count--------------------------------------------------")
print(raw_videos_df2["statistics_statistics_commentCount"].value_counts(dropna=False))
print("-----------------------------like count--------------------------------------------------")
print(raw_videos_df2["statistics_statistics_likeCount"].value_counts(dropna=False))
print("-----------------------------dislike count--------------------------------------------------")
print(raw_videos_df2["statistics_statistics_dislikeCount"].value_counts(dropna=False))
print("-----------------------------view count--------------------------------------------------")
print(raw_videos_df2["statistics_statistics_viewCount"].value_counts(dropna=False))

-----------------------------video Title--------------------------------------------------
DAILY MOFA BRIEFING                                              149
NBA Meme Team - Top 5                                            103
Обзор игрушек                                                     70
Top 10 Plays: The Starters                                        65
NBA Bloopers: The Starters                                        63
                                                                ...
The 20 Best Food at TRADER JOE'S...YOU MUST BUY! | Fung Bros       1
Trump: ‘Stay at home and save lives’                               1
33 EPIC TEXT MESSAGE FAILS                                         1
Karl Anthony-Towns Asks Frank Kaminsky "What Are Those?"           1
US soccer star Megan Rapinoe on staying focused for semifinal      1
Name: snippet_snippet_title, Length: 400408, dtype: int64
-----------------------------comment count--------------------------------------------------
0.0          28696
NaN          16134
1.0          15586
2.0          11425
3.0           8261
             ...
22144.0          1
22869.0          1
30035.0          1
22865.0          1
1526278.0        1
Name: statistics_statistics_commentCount, Length: 21396, dtype: int64
-----------------------------like count--------------------------------------------------
3.0         4728
2.0         4635
4.0         4475
5.0         3986
1.0         3656
            ...
189022.0       1
31384.0        1
47255.0        1
378038.0       1
22018.0        1
Name: statistics_statistics_likeCount, Length: 71648, dtype: int64
-----------------------------dislike count--------------------------------------------------
0.0         27281
1.0         19073
2.0         13661
3.0          9916
4.0          8156
            ...
24877.0         1
17988.0         1
199010.0        1
10032.0         1
23807.0         1
Name: statistics_statistics_dislikeCount, Length: 19411, dtype: int64
-----------------------------view count--------------------------------------------------
NaN           107
184.0         102
270.0         101
223.0         100
235.0          99
             ...
3335125.0       1
1667560.0       1
87394.0         1
364452.0        1
12228869.0      1
Name: statistics_statistics_viewCount, Length: 243947, dtype: int64

In [70]:
raw_videos_df2.describe().loc[['min','max']]

,statistics_statistics_commentCount,statistics_statistics_dislikeCount,statistics_statistics_likeCount,statistics_statistics_viewCount
min,0.0,0.0,0.0,0.000000e+00
max,2921705.0,18429502.0,24568733.0,6.810774e+09

#### FInalised video data

In [71]:
#rename columns
videos_df = raw_videos_df2.rename(columns={'snippet_snippet_channelId': 'channelId', 'snippet_snippet_description': 'description','snippet_snippet_publishedAt':'publishedAt','snippet_snippet_resourceId_videoId':'videoId',
'snippet_snippet_thumbnails_default_url':'thumbnails',
'snippet_snippet_title':'videoTitle',
'statistics_statistics_commentCount':'commentCount',
'statistics_statistics_likeCount':'likeCount', 'statistics_statistics_dislikeCount':'dislikeCount','statistics_statistics_viewCount':'viewCount'})

In [72]:
videos_df

,channelId,description,publishedAt,videoId,thumbnails,videoTitle,commentCount,dislikeCount,likeCount,viewCount
0,UCjOl2AUblVmg2rA_cRgZkFg,"In this week's Top Gear, Flintoff gets his han...",2020-10-09 09:35:54,NXX338WY_Lw,https://i.ytimg.com/vi/NXX338WY_Lw/default.jpg,PREVIEW: Attempting 200mph in the Jaguar XJ220...,528.0,257.0,5819.0,184447.0
1,UCjOl2AUblVmg2rA_cRgZkFg,"From the humble new Volkswagen GTI, right down...",2020-10-09 11:21:23,dtHcdU2c71Y,https://i.ytimg.com/vi/dtHcdU2c71Y/default.jpg,Which car will win Top Gear Speed Week 2020? (...,568.0,273.0,7136.0,217619.0
2,UCjOl2AUblVmg2rA_cRgZkFg,Here's Chris Harris' take on the rocket-disgui...,2020-10-07 07:40:22,vnrtWe-RAzg,https://i.ytimg.com/vi/vnrtWe-RAzg/default.jpg,Chris Harris on... the Ferrari SF90 Stradale |...,1091.0,408.0,10189.0,437777.0
3,UCjOl2AUblVmg2rA_cRgZkFg,"16 contenders, 8,553bhp and a festival to reme...",2020-10-06 13:59:38,Ra1F0TsOCPs,https://i.ytimg.com/vi/Ra1F0TsOCPs/default.jpg,Chris Harris vs 2020’s Best Performance Cars |...,579.0,202.0,7126.0,191070.0
4,UCjOl2AUblVmg2rA_cRgZkFg,"The 986bhp Ferrari SF90 is, unsurprisingly, no...",2020-10-06 07:36:13,fXysipmTxcQ,https://i.ytimg.com/vi/fXysipmTxcQ/default.jpg,FASTEST TOP GEAR LAP? Ferrari SF90 Stiglap | T...,888.0,168.0,9697.0,572569.0
...,...,...,...,...,...,...,...,...,...,...
3250,UCwiTOchWeKjrJZw7S1H__1g,London cafe Sloane Brothers sells rainbow crep...,2017-02-28 18:04:16,DaoL1-H1ReE,https://i.ytimg.com/vi/DaoL1-H1ReE/default.jpg,Rainbow crepes with chocolate brownies,4.0,4.0,75.0,5555.0
3251,UCwiTOchWeKjrJZw7S1H__1g,Run by the Condurro family since the 1870s and...,2017-02-06 09:28:13,ERMJ5xE7-6A,https://i.ytimg.com/vi/ERMJ5xE7-6A/default.jpg,"The ""world's best pizzeria'"" is in London",43.0,25.0,424.0,36623.0
3252,UCwiTOchWeKjrJZw7S1H__1g,People line up for hours at the Good Food Karv...,2016-04-28 17:38:03,scdq2xfCE34,https://i.ytimg.com/vi/scdq2xfCE34/default.jpg,Ice cream-filled donut cones in Prague,7.0,4.0,114.0,9213.0
3253,UCwiTOchWeKjrJZw7S1H__1g,We went to one of the eight Ping Pong restaura...,2016-04-28 17:32:27,HgJI5ybtk5Y,https://i.ytimg.com/vi/HgJI5ybtk5Y/default.jpg,Inside London's dim sum chain Ping Pong,5.0,3.0,64.0,5868.0
3254,UCwiTOchWeKjrJZw7S1H__1g,We tried out a 5-course avocado meal at a pop-...,2016-04-28 16:55:13,zg2yqK-5_U0,https://i.ytimg.com/vi/zg2yqK-5_U0/default.jpg,Pop-up restaurant only serves avocado food and...,29.0,17.0,114.0,5930.0

In [73]:
#write csv
videos_df.to_csv('videos_df.csv',index = False, header = True)

In [74]:
print(channel_df.shape)
print(videos_df.shape)

(160, 7)
(408690, 10)

In [76]:
videos_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 408690 entries, 0 to 3254
Data columns (total 10 columns):
channelId       408690 non-null object
description     406594 non-null object
publishedAt     408690 non-null datetime64[ns]
videoId         408690 non-null object
thumbnails      408675 non-null object
videoTitle      408690 non-null object
commentCount    392556 non-null float64
dislikeCount    407143 non-null float64
likeCount       407143 non-null float64
viewCount       408583 non-null float64
dtypes: datetime64[ns](1), float64(4), object(5)
memory usage: 34.3+ MB

In [77]:
videos_df[videos_df.isnull().any(axis=1)]

,channelId,description,publishedAt,videoId,thumbnails,videoTitle,commentCount,dislikeCount,likeCount,viewCount
1944,UCsAegdhiYLEoaFGuJFVrqFQ,NaN,2019-09-04 21:27:33,a3PHzPrx8FU,https://i.ytimg.com/vi/a3PHzPrx8FU/default.jpg,REPLAY: Day 5 – HOT ROD Drag Week from Virgini...,107.0,82.0,2332.0,211947.0
1946,UCsAegdhiYLEoaFGuJFVrqFQ,NaN,2019-09-04 21:23:06,bUnHy68I-Jo,https://i.ytimg.com/vi/bUnHy68I-Jo/default.jpg,REPLAY: Day 4 – HOT ROD Drag Week from Marylan...,93.0,54.0,1813.0,129627.0
1949,UCsAegdhiYLEoaFGuJFVrqFQ,NaN,2019-09-04 21:17:48,xB9e8Dal-2o,https://i.ytimg.com/vi/xB9e8Dal-2o/default.jpg,REPLAY: Day 3 – HOT ROD Drag Week from Atco Dr...,93.0,63.0,1432.0,119544.0
1951,UCsAegdhiYLEoaFGuJFVrqFQ,NaN,2019-09-04 19:57:54,bn_Pimi6BDM,https://i.ytimg.com/vi/bn_Pimi6BDM/default.jpg,REPLAY: Day 2 – HOT ROD Drag Week from Cecil C...,112.0,61.0,1922.0,171914.0
1952,UCsAegdhiYLEoaFGuJFVrqFQ,NaN,2019-09-09 13:11:47,aOCkZsWutvM,https://i.ytimg.com/vi/aOCkZsWutvM/default.jpg,REPLAY: Day 1 – HOT ROD Drag Week from Virgini...,143.0,73.0,1817.0,151603.0
...,...,...,...,...,...,...,...,...,...,...
153900,UCHKVXtT1YBCYUnnr4apqXfg,NaN,2016-05-27 15:05:29,3B2d7hiY_4I,https://i.ytimg.com/vi/3B2d7hiY_4I/default.jpg,Cute Cotton Candy Art: Bunny Rabbit,15.0,50.0,560.0,116090.0
153906,UCHKVXtT1YBCYUnnr4apqXfg,NaN,2016-03-17 18:57:40,W4C8RW8vHpE,https://i.ytimg.com/vi/W4C8RW8vHpE/default.jpg,Eating Raw Beef in Ethiopia,186.0,256.0,314.0,120793.0
153909,UCHKVXtT1YBCYUnnr4apqXfg,NaN,2016-03-02 22:35:09,jXXJAjtKKzY,https://i.ytimg.com/vi/jXXJAjtKKzY/default.jpg,Taiwan Street Food - LOBSTER SASHIMI Taiwanese...,296.0,580.0,704.0,199517.0
612,UC9avFXTdbSo5ATvzTRnAVFg,The real reason why Chinese restaurants are cl...,2020-02-10 09:48:12,O1Jm6SWYKx8,https://i.ytimg.com/vi/O1Jm6SWYKx8/default.jpg,WHY CHINESE RESTAURANTS ARE CLOSING DOWN | Fun...,NaN,732.0,8855.0,663343.0
742,UC9avFXTdbSo5ATvzTRnAVFg,Check Out https://go.onelink.me/GF9q/noasn\n#1...,2018-10-26 09:54:08,52dQSX-DCN0,https://i.ytimg.com/vi/52dQSX-DCN0/default.jpg,"IS HAVING A ""No Asian Policy"" MESSED UP WHEN D...",NaN,595.0,7638.0,460080.0

# Aggregating Data

### daysPublished

In [78]:
from time import gmtime, strftime
from datetime import datetime
import re

In [39]:
videos_df['publishedAt'] = videos_df['publishedAt'].astype(str)
# videos_df['publishedAt'] = videos_df['publishedAt'].apply(lambda x: re.sub('[TZ]',' ',x))
# videos_df['publishedAt'] = videos_df['publishedAt'].map(lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S ')  if re.match('^[0-9\W ]*$',x) and len(x) > len('%Y-%m-%d %H:%M:%S ') else x)
# videos_df['daysPublished'] = videos_df['publishedAt'].map(lambda x: (datetime.today() - x).days if type(x) != str else None)

In [79]:
videos_df['daysPublished'] = videos_df['publishedAt'].map(lambda x: (datetime.today() - x).days) #12 october 2020

In [81]:
videos_df['daysPublished'].value_counts

<bound method IndexOpsMixin.value_counts of 0          3
1          3
2          5
3          6
4          6
        ...
3250    1322
3251    1344
3252    1628
3253    1628
3254    1628
Name: daysPublished, Length: 408690, dtype: int64>

In [83]:
videos_df.describe().loc[['min','max']]

     commentCount  dislikeCount   likeCount     viewCount  daysPublished
min           0.0           0.0         0.0  0.000000e+00            1.0
max     2921705.0    18429502.0  24568733.0  6.810774e+09         2111.0

In [85]:
videos_df[videos_df['daysPublished'].isnull()]

Empty DataFrame
Columns: [channelId, description, publishedAt, videoId, thumbnails, videoTitle, commentCount, dislikeCount, likeCount, viewCount, daysPublished]
Index: []

### Likes:Dislike Ratio

In [94]:
conditions = [
    (videos_df['likeCount'].isnull() | videos_df['dislikeCount'].isnull()),
    (videos_df['likeCount'].notnull() | videos_df['dislikeCount'].notnull())

]
choices = [np.nan,videos_df['likeCount']/videos_df['dislikeCount']]

In [96]:
videos_df['likeDislikeRatio'] = np.select(condlist=conditions, choicelist=choices)

In [97]:
videos_df['likeDislikeRatio'].value_counts

<bound method IndexOpsMixin.value_counts of 0       22.642023
1       26.139194
2       24.973039
3       35.277228
4       57.720238
          ...
3250    18.750000
3251    16.960000
3252    28.500000
3253    21.333333
3254     6.705882
Name: likeDislikeRatio, Length: 408690, dtype: float64>

In [98]:
videos_df[videos_df['likeDislikeRatio'].isnull()]

,channelId,description,publishedAt,videoId,thumbnails,videoTitle,commentCount,dislikeCount,likeCount,viewCount,daysPublished,likeDislikeRatio
2374,UCsAegdhiYLEoaFGuJFVrqFQ,Watch the full episode for FREE right now on M...,2018-05-01 05:15:02,Q7ysio3r2TE,https://i.ytimg.com/vi/Q7ysio3r2TE/default.jpg,Building an Off-Road RV! - Dirt Every Day Prev...,215.0,NaN,NaN,275480.0,895,NaN
2375,UCsAegdhiYLEoaFGuJFVrqFQ,The Continental Tire Week to Wicked 2013 Musta...,2018-04-26 20:16:53,WNO5OCza94o,https://i.ytimg.com/vi/WNO5OCza94o/default.jpg,Mustang 360 Week To Wicked – Mustang GT – Full...,122.0,NaN,NaN,70663.0,900,NaN
2379,UCsAegdhiYLEoaFGuJFVrqFQ,What happens when two companies who are sharin...,2018-04-21 15:41:01,iN2ofb44Wyo,https://i.ytimg.com/vi/iN2ofb44Wyo/default.jpg,Hot Rod Week To Wicked - STA-BIL Apache Fleets...,80.0,NaN,NaN,30665.0,905,NaN
2380,UCsAegdhiYLEoaFGuJFVrqFQ,What happens when two companies who are sharin...,2018-04-20 17:54:12,U9Ug0fNjIdw,https://i.ytimg.com/vi/U9Ug0fNjIdw/default.jpg,Hot Rod Week To Wicked - STA-BIL Apache Fleets...,42.0,NaN,NaN,26145.0,906,NaN
2381,UCsAegdhiYLEoaFGuJFVrqFQ,What happens when two companies who are sharin...,2018-04-19 17:27:12,msKIRmkRZDQ,https://i.ytimg.com/vi/msKIRmkRZDQ/default.jpg,Hot Rod Week To Wicked - STA-BIL Apache Fleets...,20.0,NaN,NaN,19128.0,907,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
105441,UCqhnX4jA0A5paNd1v-zEysw,"Earlier this year, GoPro announced plans to re...",2015-10-28 00:47:21,JADCZuSOQRU,https://i.ytimg.com/vi/JADCZuSOQRU/default.jpg,GoPro: Sneak Peek of GoPro Quadcopter Footage,494.0,NaN,NaN,3931636.0,1811,NaN
106823,UC4i_9WvfPRTuRWEaWyfKuFw,BT Sport brings you live coverage of the very ...,2020-09-02 10:19:29,APK4_kivx6o,https://i.ytimg.com/vi/APK4_kivx6o/default.jpg,Aston Villa v Man City | The first game of the...,67.0,NaN,NaN,NaN,40,NaN
150525,UC4i_9WvfPRTuRWEaWyfKuFw,Watch live streaming of day three of the only ...,2017-11-07 10:53:38,Sp6G2SuDzbY,https://i.ytimg.com/vi/Sp6G2SuDzbY/default.jpg,Live streaming: Women's Ashes 2017 - Australia...,9.0,NaN,NaN,NaN,1070,NaN
150527,UC4i_9WvfPRTuRWEaWyfKuFw,Watch live streaming of day two of the only wo...,2017-11-07 10:49:58,72IQHmTC4Gg,https://i.ytimg.com/vi/72IQHmTC4Gg/default.jpg,Live streaming: Women's Ashes 2017 - Australia...,11.0,NaN,NaN,NaN,1070,NaN
150529,UC4i_9WvfPRTuRWEaWyfKuFw,Watch live streaming of day one of the only wo...,2017-11-06 10:55:06,21SakRoVWFY,https://i.ytimg.com/vi/21SakRoVWFY/default.jpg,Live streaming: Women's Ashes 2017 - Australia...,3.0,NaN,NaN,10199.0,1071,NaN

### likeCountByDay

In [65]:
# videos_df['likeCountByDay'] = videos_df['likeCount']/videos_df['daysPublished']

In [99]:
conditions = [
    (videos_df['likeCount'].isnull()),
    (videos_df['likeCount'].notnull())

]
choices = [np.nan,videos_df['likeCount']/videos_df['daysPublished']]
videos_df['likeCountByDay'] = np.select(condlist=conditions, choicelist=choices)

In [100]:
videos_df['likeCountByDay'].value_counts

<bound method IndexOpsMixin.value_counts of 0       1939.666667
1       2378.666667
2       2037.800000
3       1187.666667
4       1616.166667
           ...
3250       0.056732
3251       0.315476
3252       0.070025
3253       0.039312
3254       0.070025
Name: likeCountByDay, Length: 408690, dtype: float64>

In [101]:
videos_df[videos_df['likeCountByDay'].isnull()]

,channelId,description,publishedAt,videoId,thumbnails,videoTitle,commentCount,dislikeCount,likeCount,viewCount,daysPublished,likeDislikeRatio,likeCountByDay
2374,UCsAegdhiYLEoaFGuJFVrqFQ,Watch the full episode for FREE right now on M...,2018-05-01 05:15:02,Q7ysio3r2TE,https://i.ytimg.com/vi/Q7ysio3r2TE/default.jpg,Building an Off-Road RV! - Dirt Every Day Prev...,215.0,NaN,NaN,275480.0,895,NaN,NaN
2375,UCsAegdhiYLEoaFGuJFVrqFQ,The Continental Tire Week to Wicked 2013 Musta...,2018-04-26 20:16:53,WNO5OCza94o,https://i.ytimg.com/vi/WNO5OCza94o/default.jpg,Mustang 360 Week To Wicked – Mustang GT – Full...,122.0,NaN,NaN,70663.0,900,NaN,NaN
2379,UCsAegdhiYLEoaFGuJFVrqFQ,What happens when two companies who are sharin...,2018-04-21 15:41:01,iN2ofb44Wyo,https://i.ytimg.com/vi/iN2ofb44Wyo/default.jpg,Hot Rod Week To Wicked - STA-BIL Apache Fleets...,80.0,NaN,NaN,30665.0,905,NaN,NaN
2380,UCsAegdhiYLEoaFGuJFVrqFQ,What happens when two companies who are sharin...,2018-04-20 17:54:12,U9Ug0fNjIdw,https://i.ytimg.com/vi/U9Ug0fNjIdw/default.jpg,Hot Rod Week To Wicked - STA-BIL Apache Fleets...,42.0,NaN,NaN,26145.0,906,NaN,NaN
2381,UCsAegdhiYLEoaFGuJFVrqFQ,What happens when two companies who are sharin...,2018-04-19 17:27:12,msKIRmkRZDQ,https://i.ytimg.com/vi/msKIRmkRZDQ/default.jpg,Hot Rod Week To Wicked - STA-BIL Apache Fleets...,20.0,NaN,NaN,19128.0,907,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
105441,UCqhnX4jA0A5paNd1v-zEysw,"Earlier this year, GoPro announced plans to re...",2015-10-28 00:47:21,JADCZuSOQRU,https://i.ytimg.com/vi/JADCZuSOQRU/default.jpg,GoPro: Sneak Peek of GoPro Quadcopter Footage,494.0,NaN,NaN,3931636.0,1811,NaN,NaN
106823,UC4i_9WvfPRTuRWEaWyfKuFw,BT Sport brings you live coverage of the very ...,2020-09-02 10:19:29,APK4_kivx6o,https://i.ytimg.com/vi/APK4_kivx6o/default.jpg,Aston Villa v Man City | The first game of the...,67.0,NaN,NaN,NaN,40,NaN,NaN
150525,UC4i_9WvfPRTuRWEaWyfKuFw,Watch live streaming of day three of the only ...,2017-11-07 10:53:38,Sp6G2SuDzbY,https://i.ytimg.com/vi/Sp6G2SuDzbY/default.jpg,Live streaming: Women's Ashes 2017 - Australia...,9.0,NaN,NaN,NaN,1070,NaN,NaN
150527,UC4i_9WvfPRTuRWEaWyfKuFw,Watch live streaming of day two of the only wo...,2017-11-07 10:49:58,72IQHmTC4Gg,https://i.ytimg.com/vi/72IQHmTC4Gg/default.jpg,Live streaming: Women's Ashes 2017 - Australia...,11.0,NaN,NaN,NaN,1070,NaN,NaN
150529,UC4i_9WvfPRTuRWEaWyfKuFw,Watch live streaming of day one of the only wo...,2017-11-06 10:55:06,21SakRoVWFY,https://i.ytimg.com/vi/21SakRoVWFY/default.jpg,Live streaming: Women's Ashes 2017 - Australia...,3.0,NaN,NaN,10199.0,1071,NaN,NaN

### commentCountByDay

In [67]:
# videos_df['commentCountByDay'] = videos_df['commentCount']/videos_df['daysPublished']

In [102]:
conditions = [
    (videos_df['commentCount'].isnull()),
    (videos_df['commentCount'].notnull())

]
choices = [np.nan,videos_df['commentCount']/videos_df['daysPublished']]
videos_df['commentCountByDay'] = np.select(condlist=conditions, choicelist=choices)

In [103]:
videos_df['commentCountByDay'].value_counts

<bound method IndexOpsMixin.value_counts of 0       176.000000
1       189.333333
2       218.200000
3        96.500000
4       148.000000
           ...
3250      0.003026
3251      0.031994
3252      0.004300
3253      0.003071
3254      0.017813
Name: commentCountByDay, Length: 408690, dtype: float64>

In [104]:
videos_df[videos_df['commentCountByDay'].isnull()]

,channelId,description,publishedAt,videoId,thumbnails,videoTitle,commentCount,dislikeCount,likeCount,viewCount,daysPublished,likeDislikeRatio,likeCountByDay,commentCountByDay
2049,UCsAegdhiYLEoaFGuJFVrqFQ,"Diesel Power Editor KJ Jones, staff, sponsors ...",2019-06-06 21:57:58,eZEnTVkIuAw,https://i.ytimg.com/vi/eZEnTVkIuAw/default.jpg,Diesel Power Challenge 2019 Presented by XDP –...,NaN,33.0,140.0,35983.0,494,4.242424,0.283401,NaN
2050,UCsAegdhiYLEoaFGuJFVrqFQ,Brute strength and torque are put to the ultim...,2019-06-05 23:29:59,-Z5r_UeqFzw,https://i.ytimg.com/vi/-Z5r_UeqFzw/default.jpg,Diesel Power Challenge 2019 Presented by XDP–D...,NaN,70.0,227.0,46334.0,494,3.242857,0.459514,NaN
2052,UCsAegdhiYLEoaFGuJFVrqFQ,Truck speed and driver skill are put to the te...,2019-06-04 20:46:05,ugpizKRglc0,https://i.ytimg.com/vi/ugpizKRglc0/default.jpg,Diesel Power Challenge 2019 Presented by XDP–D...,NaN,134.0,454.0,65570.0,496,3.388060,0.915323,NaN
2056,UCsAegdhiYLEoaFGuJFVrqFQ,Our 10 competitors battle it out for horsepowe...,2019-06-04 15:15:46,d0u7iASLv5U,https://i.ytimg.com/vi/d0u7iASLv5U/default.jpg,Diesel Power Challenge 2019 Presented by XDP–D...,NaN,97.0,557.0,63898.0,496,5.742268,1.122984,NaN
2078,UCsAegdhiYLEoaFGuJFVrqFQ,Jack Hawksworth challenges his recently-retire...,2019-04-23 20:10:23,5vNrkTvSam4,https://i.ytimg.com/vi/5vNrkTvSam4/default.jpg,The Shootout: A Lap Around Laguna Seca,NaN,324.0,1387.0,2965092.0,538,4.280864,2.578067,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100322,UCblfuW_4rakIf2h6aqANefA,» CLICK for more 360 videos! http://win.gs/Red...,2015-12-18 00:35:34,FKwfDBUZA3c,https://i.ytimg.com/vi/FKwfDBUZA3c/default.jpg,RADBUL conquers Highlands | 360° POV Experience,NaN,211.0,5347.0,606466.0,1760,25.341232,3.038068,NaN
104744,UCqhnX4jA0A5paNd1v-zEysw,Hit some smooth trick jumps with 7 year old Re...,2018-06-11 21:42:01,i3rgqivE94Y,https://i.ytimg.com/vi/i3rgqivE94Y/default.jpg,GoPro Awards: Rex the BMX Kid,NaN,1004.0,8478.0,461090.0,854,8.444223,9.927400,NaN
148304,UC4i_9WvfPRTuRWEaWyfKuFw,Lyon take on Barcelona in the final of Europe'...,2019-05-17 10:10:13,MZjaWGwbtEc,https://i.ytimg.com/vi/MZjaWGwbtEc/default.jpg,Lyon vs Barcelona (4-1) | UEFA Women's Champio...,NaN,135.0,747.0,NaN,514,5.533333,1.453307,NaN
612,UC9avFXTdbSo5ATvzTRnAVFg,The real reason why Chinese restaurants are cl...,2020-02-10 09:48:12,O1Jm6SWYKx8,https://i.ytimg.com/vi/O1Jm6SWYKx8/default.jpg,WHY CHINESE RESTAURANTS ARE CLOSING DOWN | Fun...,NaN,732.0,8855.0,663343.0,245,12.096995,36.142857,NaN
742,UC9avFXTdbSo5ATvzTRnAVFg,Check Out https://go.onelink.me/GF9q/noasn\n#1...,2018-10-26 09:54:08,52dQSX-DCN0,https://i.ytimg.com/vi/52dQSX-DCN0/default.jpg,"IS HAVING A ""No Asian Policy"" MESSED UP WHEN D...",NaN,595.0,7638.0,460080.0,717,12.836975,10.652720,NaN

### viewCountByDay

In [69]:
# videos_df['viewCountByDay'] = videos_df['viewCount']/videos_df['daysPublished']

In [106]:
conditions = [
    (videos_df['viewCount'].isnull()),
    (videos_df['viewCount'].notnull())

]
choices = [np.nan,videos_df['viewCount']/videos_df['daysPublished']]
videos_df['viewCountByDay'] = np.select(condlist=conditions, choicelist=choices)

In [107]:
videos_df['viewCountByDay'].value_counts

<bound method IndexOpsMixin.value_counts of 0       61482.333333
1       72539.666667
2       87555.400000
3       31845.000000
4       95428.166667
            ...
3250        4.201967
3251       27.249256
3252        5.659091
3253        3.604423
3254        3.642506
Name: viewCountByDay, Length: 408690, dtype: float64>

In [108]:
videos_df[videos_df['viewCountByDay'].isnull()]

,channelId,description,publishedAt,videoId,thumbnails,videoTitle,commentCount,dislikeCount,likeCount,viewCount,daysPublished,likeDislikeRatio,likeCountByDay,commentCountByDay,viewCountByDay
20677,UCfm4y4rHF5HGrSr-qbvOwOg,Go behind the scenes with Lilly at her photosh...,2016-01-29 00:48:55,IdBjVMTdBV4,https://i.ytimg.com/vi/IdBjVMTdBV4/default.jpg,Behind the scenes with Lilly at her photoshoot,145.0,675.0,12883.0,NaN,1718,19.085926,7.498836,0.084400,NaN
33461,UC-lHJZR3Gqxm24_Vd_AJ5Yw,Check out what they put me through to make Sca...,2016-01-29 19:55:38,AkdZiERMjjI,https://i.ytimg.com/vi/AkdZiERMjjI/default.jpg,BEHIND THE SCENES FOR THE MAKING OF SCARE PEWD...,690.0,522.0,26632.0,NaN,1718,51.019157,15.501746,0.401630,NaN
57547,UCIwFjwMjI0y7PDBVEO9-bkQ,On the verge of the album release and stadium ...,2020-02-23 22:07:18,IilZLGt_Ufo,https://i.ytimg.com/vi/IilZLGt_Ufo/default.jpg,The Finale - Justin Bieber: Seasons,7272.0,NaN,NaN,NaN,232,NaN,NaN,31.344828,NaN
57548,UCIwFjwMjI0y7PDBVEO9-bkQ,Justin faces one of his biggest tests to date:...,2020-02-14 02:12:22,pWcI-BeQqls,https://i.ytimg.com/vi/pWcI-BeQqls/default.jpg,Album on the Way - Justin Bieber: Seasons,2795.0,NaN,NaN,NaN,241,NaN,NaN,11.597510,NaN
57563,UCIwFjwMjI0y7PDBVEO9-bkQ,A look inside Hailey and Justin's intimate wed...,2020-02-06 23:01:51,G-4tJ63X5vo,https://i.ytimg.com/vi/G-4tJ63X5vo/default.jpg,The Wedding: Officially Mr. & Mrs. Bieber - Ju...,31068.0,NaN,NaN,NaN,248,NaN,NaN,125.274194,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150379,UC4i_9WvfPRTuRWEaWyfKuFw,Watch Perth Scorchers take on the Melbourne St...,2017-12-19 12:23:59,fV_hE9LQ1Jw,https://i.ytimg.com/vi/fV_hE9LQ1Jw/default.jpg,FULL MATCH: Perth Scorchers v Melbourne Stars ...,21.0,34.0,304.0,NaN,1028,8.941176,0.295720,0.020428,NaN
150387,UC4i_9WvfPRTuRWEaWyfKuFw,Watch Brisbane Heat take take on Melbourne Sta...,2017-12-19 12:00:36,fZ3enlWvhyk,https://i.ytimg.com/vi/fZ3enlWvhyk/default.jpg,FULL MATCH: Adelaide Strikers v Sydney Thunder...,15.0,21.0,310.0,NaN,1028,14.761905,0.301556,0.014591,NaN
150520,UC4i_9WvfPRTuRWEaWyfKuFw,Watch live streaming of day four of the only w...,2017-11-07 10:55:32,yzax7nFcJJU,https://i.ytimg.com/vi/yzax7nFcJJU/default.jpg,Live streaming: Women's Ashes 2017 - Australia...,5.0,10.0,75.0,NaN,1070,7.500000,0.070093,0.004673,NaN
150525,UC4i_9WvfPRTuRWEaWyfKuFw,Watch live streaming of day three of the only ...,2017-11-07 10:53:38,Sp6G2SuDzbY,https://i.ytimg.com/vi/Sp6G2SuDzbY/default.jpg,Live streaming: Women's Ashes 2017 - Australia...,9.0,NaN,NaN,NaN,1070,NaN,NaN,0.008411,NaN
150527,UC4i_9WvfPRTuRWEaWyfKuFw,Watch live streaming of day two of the only wo...,2017-11-07 10:49:58,72IQHmTC4Gg,https://i.ytimg.com/vi/72IQHmTC4Gg/default.jpg,Live streaming: Women's Ashes 2017 - Australia...,11.0,NaN,NaN,NaN,1070,NaN,NaN,0.010280,NaN

#### Length of video title

In [111]:
videos_df['titleLen'] = videos_df['videoTitle'].map(lambda x: len(re.findall(r'\w+', x)))

In [113]:
videos_df['titleLen'].describe().loc[['min','max']]

min     0.0
max    35.0
Name: titleLen, dtype: float64

In [130]:
videos_df[videos_df['titleLen'] >30]['videoTitle'].values

array(['1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35...'],
      dtype=object)

Agg videos

In [131]:

agg_videos_df = videos_df[["videoId", "daysPublished","likeDislikeRatio","likeCountByDay", "commentCountByDay","viewCountByDay",'titleLen']]

In [132]:
agg_videos_df

,videoId,daysPublished,likeDislikeRatio,likeCountByDay,commentCountByDay,viewCountByDay,titleLen
0,NXX338WY_Lw,3,22.642023,1939.666667,176.000000,61482.333333,11
1,dtHcdU2c71Y,3,26.139194,2378.666667,189.333333,72539.666667,14
2,vnrtWe-RAzg,5,24.973039,2037.800000,218.200000,87555.400000,9
3,Ra1F0TsOCPs,6,35.277228,1187.666667,96.500000,31845.000000,13
4,fXysipmTxcQ,6,57.720238,1616.166667,148.000000,95428.166667,11
...,...,...,...,...,...,...,...
3250,DaoL1-H1ReE,1322,18.750000,0.056732,0.003026,4.201967,5
3251,ERMJ5xE7-6A,1344,16.960000,0.315476,0.031994,27.249256,8
3252,scdq2xfCE34,1628,28.500000,0.070025,0.004300,5.659091,7
3253,HgJI5ybtk5Y,1628,21.333333,0.039312,0.003071,3.604423,8
3254,zg2yqK-5_U0,1628,6.705882,0.070025,0.017813,3.642506,9

In [133]:
agg_videos_df.to_csv('agg_videos_df.csv',index = False, header = True)