# Step 1: Data Preparation

## I. Data Preparation sentiment_analysis_df & pos_tagging_df

In [ ]:
import pandas as pd

posdf = pd.read_csv('pos_tagging_df.csv')
posdf.head()

In [48]:
types = {}

for item in posdf['first_sent_tag']:
    if item not in types.keys():
        types[item] = 1
    else:
        count = types[item]
        types[item]=count+1
        
print(len(types.keys()))
types

17

{'PROPN': 206152,
 'DET': 26680,
 'ADJ': 31698,
 'VERB': 28181,
 'NOUN': 50119,
 'NUM': 21027,
 'AUX': 2789,
 'PUNCT': 7998,
 'ADV': 13860,
 'ADP': 3880,
 'X': 1503,
 'PRON': 12021,
 'SYM': 734,
 'SCONJ': 902,
 'INTJ': 949,
 'PART': 127,
 'CCONJ': 70}

In [18]:
#rename sentiment col & adding 

import numpy as np

posdf['titlePROPN']= np.where(posdf['first_sent_tag']=='PROPN',1,0)
posdf['titleDET'] = np.where(posdf['first_sent_tag']=='DET',1,0)
posdf['titleADJ'] = np.where(posdf['first_sent_tag']=='ADJ',1,0)
posdf['titleVERB'] = np.where(posdf['first_sent_tag']=='VERB',1,0)
posdf['titleNOUN'] = np.where(posdf['first_sent_tag']=='NOUN',1,0)
posdf['titleNUM'] = np.where(posdf['first_sent_tag']=='NUM',1,0)
posdf['titleAUX'] = np.where(posdf['first_sent_tag']=='AUX',1,0)
posdf['titlePUNCT'] = np.where(posdf['first_sent_tag']=='PUNCT',1,0)
posdf['titleADV'] = np.where(posdf['first_sent_tag']=='ADV',1,0)
posdf['titleADP'] = np.where(posdf['first_sent_tag']=='ADP',1,0)
posdf['titleX'] = np.where(posdf['first_sent_tag']=='X',1,0)
posdf['titlePRON'] = np.where(posdf['first_sent_tag']=='PRON',1,0)
posdf['titleSYM'] = np.where(posdf['first_sent_tag']=='SYM',1,0)
posdf['titleSCONJ'] = np.where(posdf['first_sent_tag']=='SCONJ',1,0)
posdf['titleINTJ'] = np.where(posdf['first_sent_tag']=='INTJ',1,0)
posdf['titlePART'] = np.where(posdf['first_sent_tag']=='PART',1,0)
posdf['titleCCONJ'] = np.where(posdf['first_sent_tag']=='CCONJ',1,0)

posdf = posdf.drop(columns=['sentence','sentiment','polarity','Sentiment_Type','title_structure','first_sent_tag','first_sent_tag_label'])

posdf.head()

,videoId,titlePROPN,titleDET,titleADJ,titleVERB,titleNOUN,titleNUM,titleAUX,titlePUNCT,titleADV,titleADP,titleX,titlePRON,titleSYM,titleSCONJ,titleINTJ,titlePART,titleCCONJ
0,NXX338WY_Lw,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,dtHcdU2c71Y,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,vnrtWe-RAzg,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,Ra1F0TsOCPs,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,fXysipmTxcQ,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [80]:
sentimentdf = pd.read_csv('sentiment_analysis_df.csv')
sentimentdf

,videoId,videoTitle,sentence,sentiment,polarity,Sentiment_Type
0,NXX338WY_Lw,PREVIEW: Attempting 200mph in the Jaguar XJ220...,PREVIEW: Attempting 200mph in the Jaguar XJ220...,0.50,0.500000,Positive
1,dtHcdU2c71Y,Which car will win Top Gear Speed Week 2020? (...,Which car will win Top Gear Speed Week 2020? (...,0.60,0.466667,Positive
2,vnrtWe-RAzg,Chris Harris on... the Ferrari SF90 Stradale |...,Chris Harris on... the Ferrari SF90 Stradale |...,0.50,0.500000,Positive
3,Ra1F0TsOCPs,Chris Harris vs 2020’s Best Performance Cars |...,Chris Harris vs 2020’s Best Performance Cars |...,0.75,0.400000,Positive
4,fXysipmTxcQ,FASTEST TOP GEAR LAP? Ferrari SF90 Stiglap | T...,FASTEST TOP GEAR LAP? Ferrari SF90 Stiglap | T...,0.50,0.500000,Positive
...,...,...,...,...,...,...
407088,xkPA_4m6UG4,Farewell Video: Korean Middle School,Farewell Video: Korean Middle School,0.00,0.000000,Neutral
407089,RqXrFAZfjDE,My Favorite Korean BBQ in Korea,My Favorite Korean BBQ in Korea,0.50,1.000000,Positive
407090,VF5kAZ0Q_xs,My Farewell Speech to my Entire School (in Kor...,My Farewell Speech to my Entire School (in Kor...,0.00,0.625000,Neutral
407091,4fqo3iekT5I,"A Trip to the Outskirts of Yangon, Myanmar","A Trip to the Outskirts of Yangon, Myanmar",0.00,0.000000,Neutral
407092,pqULD3qAKGU,"Eating Fried Crickets in Yangon, Myanmar","Eating Fried Crickets in Yangon, Myanmar",0.00,0.000000,Neutral

In [82]:
# counting titleLen

sentence = sentimentdf['videoTitle']
length = []

for s in sentence:
    slist = s.split(' ')
    length.append(len(slist))

sentimentdf['titleLen'] = length
sentimentdf.head()

,videoId,videoTitle,sentence,sentiment,polarity,Sentiment_Type,titleLen
0,NXX338WY_Lw,PREVIEW: Attempting 200mph in the Jaguar XJ220...,PREVIEW: Attempting 200mph in the Jaguar XJ220...,0.50,0.500000,Positive,12
1,dtHcdU2c71Y,Which car will win Top Gear Speed Week 2020? (...,Which car will win Top Gear Speed Week 2020? (...,0.60,0.466667,Positive,16
2,vnrtWe-RAzg,Chris Harris on... the Ferrari SF90 Stradale |...,Chris Harris on... the Ferrari SF90 Stradale |...,0.50,0.500000,Positive,10
3,Ra1F0TsOCPs,Chris Harris vs 2020’s Best Performance Cars |...,Chris Harris vs 2020’s Best Performance Cars |...,0.75,0.400000,Positive,13
4,fXysipmTxcQ,FASTEST TOP GEAR LAP? Ferrari SF90 Stiglap | T...,FASTEST TOP GEAR LAP? Ferrari SF90 Stiglap | T...,0.50,0.500000,Positive,12

In [83]:
dummy = pd.get_dummies(sentimentdf['Sentiment_Type'])
sentimentdf = pd.merge( left=sentimentdf, right=dummy, left_index=True, right_index=True)
sentimentdf = sentimentdf.drop(columns=['videoTitle','sentence','sentiment','polarity','Sentiment_Type'])
sentimentdf.head()

       videoId  titleLen  Negative  Neutral  Positive
0  NXX338WY_Lw        12         0        0         1
1  dtHcdU2c71Y        16         0        0         1
2  vnrtWe-RAzg        10         0        0         1
3  Ra1F0TsOCPs        13         0        0         1
4  fXysipmTxcQ        12         0        0         1

In [22]:
print(len(sentimentdf))
print(len(sentdf))

407093
408690

In [84]:
#inner join sentdf & sentimentdf
sent2df = pd.merge( left=sentimentdf, right=sentdf, on='videoId', how='inner')
sent2df.head()

,videoId,titleLen,Negative,Neutral,Positive,titlePROPN,titleDET,titleADJ,titleVERB,titleNOUN,...,titlePUNCT,titleADV,titleADP,titleX,titlePRON,titleSYM,titleSCONJ,titleINTJ,titlePART,titleCCONJ
0,NXX338WY_Lw,12,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,dtHcdU2c71Y,16,0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,vnrtWe-RAzg,10,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Ra1F0TsOCPs,13,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,fXysipmTxcQ,12,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## II. Data Preparation for video_df

In [42]:
videodf = pd.read_csv('videos_df.csv')
dates = videodf['publishedAt']
videodf = videodf.drop(columns = ['description','publishedAt','thumbnails','videoTitle','commentCount','dislikeCount','likeCount'])
videodf.head()

                  channelId      videoId  viewCount
0  UCjOl2AUblVmg2rA_cRgZkFg  NXX338WY_Lw   184447.0
1  UCjOl2AUblVmg2rA_cRgZkFg  dtHcdU2c71Y   217619.0
2  UCjOl2AUblVmg2rA_cRgZkFg  vnrtWe-RAzg   437777.0
3  UCjOl2AUblVmg2rA_cRgZkFg  Ra1F0TsOCPs   191070.0
4  UCjOl2AUblVmg2rA_cRgZkFg  fXysipmTxcQ   572569.0

In [ ]:
from datetime import datetime
import calendar

day = []

for d in dates:
    d2 = datetime.strptime(d, '%Y-%m-%d %H:%M:%S')
    d3 = calendar.day_name[d2.weekday()]
    day.append(d3)

In [44]:
dummy = pd.get_dummies(day)
videodf = pd.merge(videodf, dummy, left_index=True, right_index=True)
videodf.head()

,channelId,videoId,viewCount,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday
0,UCjOl2AUblVmg2rA_cRgZkFg,NXX338WY_Lw,184447.0,1,0,0,0,0,0,0
1,UCjOl2AUblVmg2rA_cRgZkFg,dtHcdU2c71Y,217619.0,1,0,0,0,0,0,0
2,UCjOl2AUblVmg2rA_cRgZkFg,vnrtWe-RAzg,437777.0,0,0,0,0,0,0,1
3,UCjOl2AUblVmg2rA_cRgZkFg,Ra1F0TsOCPs,191070.0,0,0,0,0,0,1,0
4,UCjOl2AUblVmg2rA_cRgZkFg,fXysipmTxcQ,572569.0,0,0,0,0,0,1,0

In [69]:
def getTime(x):
    if (x > 4) and (x <= 8):
        return 'Early Morning'
    elif (x > 8) and (x <= 12 ):
        return 'Morning'
    elif (x > 12) and (x <= 16):
        return'Afternoon'
    elif (x > 16) and (x <= 20) :
        return 'Evening'
    elif (x > 20) and (x <= 24):
        return'Night'
    elif (x <= 4):
        return'Late Night'

videodf['hours'] = list(map(lambda x: int(x[11:13]), dates))
videodf['times'] = videodf['hours'].apply(getTime)

dummy = pd.get_dummies(videodf['times'])
videodf = pd.merge(videodf, dummy, left_index=True, right_index=True)
videodf = videodf.drop(columns = ['hours','times'])
videodf.head()

,channelId,videoId,viewCount,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday,Afternoon,Early Morning,Evening,Late Night,Morning,Night
0,UCjOl2AUblVmg2rA_cRgZkFg,NXX338WY_Lw,184447.0,1,0,0,0,0,0,0,0,0,0,0,1,0
1,UCjOl2AUblVmg2rA_cRgZkFg,dtHcdU2c71Y,217619.0,1,0,0,0,0,0,0,0,0,0,0,1,0
2,UCjOl2AUblVmg2rA_cRgZkFg,vnrtWe-RAzg,437777.0,0,0,0,0,0,0,1,0,1,0,0,0,0
3,UCjOl2AUblVmg2rA_cRgZkFg,Ra1F0TsOCPs,191070.0,0,0,0,0,0,1,0,1,0,0,0,0,0
4,UCjOl2AUblVmg2rA_cRgZkFg,fXysipmTxcQ,572569.0,0,0,0,0,0,1,0,0,1,0,0,0,0

In [70]:
def getSeason(x):
    if (x > 2) and (x <= 5):
        return 'Spring'
    elif (x > 5) and (x <= 8 ):
        return 'Summer'
    elif (x > 8) and (x <= 11):
        return'Autumn'
    elif (x == 12) or (x<=2):
        return'Winter'
    
videodf['month'] = list(map(lambda x: int(x[5:7]), dates))
videodf['season'] = videodf['month'].apply(getSeason)
dummy = pd.get_dummies(videodf['season'])
videodf = pd.merge(videodf, dummy, left_index=True, right_index=True)
videodf = videodf.drop(columns = ['month','season'])
videodf.head()

,channelId,videoId,viewCount,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday,Afternoon,Early Morning,Evening,Late Night,Morning,Night,Autumn,Spring,Summer,Winter
0,UCjOl2AUblVmg2rA_cRgZkFg,NXX338WY_Lw,184447.0,1,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0
1,UCjOl2AUblVmg2rA_cRgZkFg,dtHcdU2c71Y,217619.0,1,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0
2,UCjOl2AUblVmg2rA_cRgZkFg,vnrtWe-RAzg,437777.0,0,0,0,0,0,0,1,0,1,0,0,0,0,1,0,0,0
3,UCjOl2AUblVmg2rA_cRgZkFg,Ra1F0TsOCPs,191070.0,0,0,0,0,0,1,0,1,0,0,0,0,0,1,0,0,0
4,UCjOl2AUblVmg2rA_cRgZkFg,fXysipmTxcQ,572569.0,0,0,0,0,0,1,0,0,1,0,0,0,0,1,0,0,0

## III. Data Preparation for socialblade_df

In [ ]:
#import socialblade_df

social_blade_df = pd.read_csv('socialblade_df.csv')
social_blade_df.head()

In [ ]:
social_blade_df = social_blade_df.rename(columns={'Channel ID':'channelId'})
social_blade_df.head()

In [ ]:
videodf = pd.merge(left=videodf, right=social_blade_df, on='channelId', how='inner')
videodf.head()

In [ ]:
# creating dummy variables for category

dummy = pd.get_dummies(videodf['Category'])
videodf = pd.merge(videodf, dummy, left_index=True, right_index=True)
videodf = videodf.drop(columns=['Category','Channel Name'])
videodf.head()

## IV. Joining sent2df, videodf, channel_df & objects_df

In [91]:
#inner join sent2df & videodf
featuresdf = pd.merge(left=videodf, right=sent2df, on='videoId', how='inner')
featuresdf.head()

,channelId,videoId,viewCount,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday,...,titlePUNCT,titleADV,titleADP,titleX,titlePRON,titleSYM,titleSCONJ,titleINTJ,titlePART,titleCCONJ
0,UCjOl2AUblVmg2rA_cRgZkFg,NXX338WY_Lw,184447.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,UCjOl2AUblVmg2rA_cRgZkFg,dtHcdU2c71Y,217619.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,UCjOl2AUblVmg2rA_cRgZkFg,vnrtWe-RAzg,437777.0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,UCjOl2AUblVmg2rA_cRgZkFg,Ra1F0TsOCPs,191070.0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,UCjOl2AUblVmg2rA_cRgZkFg,fXysipmTxcQ,572569.0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [86]:
#import channeldf

channeldf = pd.read_csv('channel_df.csv')
channeldf.head()

,channelId,description,publishedAt,region,subscriberCount,videoCount,viewCount
0,UC07-dOwgza1IguKA86jqxNA,The official public health information Youtube...,2005-10-25T13:14:08Z,US,626000,1664,57909283
1,UCh4pyZUB0mNzieaKv831flA,We imagine a world where everyone has a place ...,2008-11-26T07:24:00Z,US,696000,1060,156537119
2,UCc4yillQaNo6a-iG2PYbbrA,Hey everyone! Welcome to my channel. Here you ...,2007-01-03T22:52:37Z,US,709000,191,79229538
3,UCB7BryuXaMe1pUMznYAq4Jg,"My channel has one simple goal, to motivate yo...",2013-10-24T14:56:37Z,US,770000,57,99831679
4,UCBP4B896svWOcWdRp8UjH2Q,Jace Norman / Xander Norman // filmmakers / en...,2012-01-02T04:40:17Z,US,880000,28,30837600

In [87]:
# finding avgViewCount

channeldf['avgViewCount'] = round(channeldf['viewCount']/channeldf['videoCount'])
channeldf = channeldf.drop(columns=['description','publishedAt','region','viewCount','videoCount'])
channeldf.head()

                  channelId  subscriberCount  avgViewCount
0  UC07-dOwgza1IguKA86jqxNA           626000       34801.0
1  UCh4pyZUB0mNzieaKv831flA           696000      147677.0
2  UCc4yillQaNo6a-iG2PYbbrA           709000      414814.0
3  UCB7BryuXaMe1pUMznYAq4Jg           770000     1751433.0
4  UCBP4B896svWOcWdRp8UjH2Q           880000     1101343.0

In [92]:
#inner join featuresdf & channeldf

featuresdf = pd.merge(left=featuresdf, right=channeldf, on='channelId', how='left')
featuresdf.head()

,channelId,videoId,viewCount,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday,...,titleADP,titleX,titlePRON,titleSYM,titleSCONJ,titleINTJ,titlePART,titleCCONJ,subscriberCount,avgViewCount
0,UCjOl2AUblVmg2rA_cRgZkFg,NXX338WY_Lw,184447.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,7610000,2224636.0
1,UCjOl2AUblVmg2rA_cRgZkFg,dtHcdU2c71Y,217619.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,7610000,2224636.0
2,UCjOl2AUblVmg2rA_cRgZkFg,vnrtWe-RAzg,437777.0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,7610000,2224636.0
3,UCjOl2AUblVmg2rA_cRgZkFg,Ra1F0TsOCPs,191070.0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,7610000,2224636.0
4,UCjOl2AUblVmg2rA_cRgZkFg,fXysipmTxcQ,572569.0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,7610000,2224636.0

In [ ]:
#import objectsdf

objectsdf = pd.read_csv('object_detection_df.csv')
objectsdf.head()

#inner join featuresdf & channeldf

featuresdf = pd.merge(left=featuresdf, right=objectsdf, on='videoId', how='left')
featuresdf.head()

In [103]:
featuresdf.to_csv('features_df.csv', index=False, header=True)

In [ ]:
print(featuresdf.shape)
print(featuresdf.columns)

# Step 2: Feature Selection 
(to be done on AWS)

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import mutual_info_classif
from matplotlib import pyplot
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import MinMaxScaler

In [ ]:
featuresdf = pd.read_csv('features_df.csv')
featuresdf.head()

## Model 1: ANOVA test for categorical input variables

https://machinelearningmastery.com/feature-selection-with-real-and-categorical-data/

https://machinelearningmastery.com/feature-selection-with-numerical-input-data/

Your results may vary given the stochastic nature of the algorithm or evaluation procedure, or differences in numerical precision. Consider running the example a few times and compare the average outcome.

In this case, we can see that some features stand out as perhaps being more relevant than others, with much larger test statistic values.

In [ ]:
catdf = features_df.drop(columns=['titleLen','subscriberCount','avgViewCount','humanCount'])
print(catdf.shape)
print(catdf.columns)
rows = len(catdf)

In [ ]:
# Split into input(x) and output(y)

#retrieve numpy array & split
dataset= catdf.values
X = dataset[:,3:]
y = dataset[:,2]

#format all fields as string
X = X.astype(str)
y=y.astype('int64')
y=y.reshape((rows,1))


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=1)

# summarize
print('Train', X_train.shape, y_train.shape)
print('Test', X_test.shape, y_test.shape)

In [ ]:
# feature selection
def select_features(X_train, y_train, X_test):
    # configure to select all features
    fs = SelectKBest(score_func=mutual_info_classif, k='all')
    # learn relationship from training data
    fs.fit(X_train, y_train)
    # transform train input data
    X_train_fs = fs.transform(X_train)
    # transform test input data
    X_test_fs = fs.transform(X_test)
    return X_train_fs, X_test_fs, fs

# feature selection
X_train_fs, X_test_fs, fs = select_features(X_train, y_train, X_test)
print('FEATURE SELECTION DONE')
catscoredf = pd.DataFrame(list(fs.scores_))
catscoredf.to_csv('catscore_df.csv', index=False, header=True)
catscoredf.head()

In [ ]:
import numpy as np

# what are scores for the features
for i in range(len(fs.scores_)):
    print('Feature %d: %f' % (i, fs.scores_[i]))

# plot the scores
pyplot.figure(figsize=(15,10))
pyplot.bar([i for i in range(len(fs.scores_))], fs.scores_)
pyplot.xticks(np.arange(0,55,5))
pyplot.axhline(y=1, color='r', linestyle='-')
pyplot.title('Feature Importance Scores of categorical variables')
pyplot.xlabel('Feature Index Number')
pyplot.ylabel('Feature Importance Score')
pyplot.savefig('catbar.png')
pyplot.show()

In [ ]:
index = []

for i in range(len(list(fs.scores_))):
    score = list(fs.scores_)[i]
    if score>1:
        print(str(i) + ": " + catdf.columns[i])

## Model 2: Pearson's Correlation test for numerical input variables
https://medium.com/analytics-vidhya/feature-selection-techniques-2614b3b7efcd

remove variables that are correlated to each other

In [ ]:
numdf = features_scaled_df.loc[:,['viewCount','titleLen','subscriberCount','avgViewCount','humanCount']]
print(numdf.shape)
print(numdf.columns)

In [ ]:
cor = numdf.corr()
cor

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
plt.figure(figsize=(10,8))
sns.heatmap(cor,annot=True)
plt.savefig('heatmap.png')
plt.show()

In [ ]:
numdf[['titleLen','subscriberCount']].corr()

In [ ]:
numdf[['titleLen','avgViewCount']].corr()

In [ ]:
numdf[['titleLen','humanCount']].corr()

In [ ]:
numdf[['subscriberCount','avgViewCount']].corr()

In [ ]:
numdf[['subscriberCount','humanCount']].corr()

In [ ]:
numdf[['avgViewCount','humanCount']].corr()

## Model 3: ANOVA test for ALL input variables

In [ ]:
alldf = features_scaled_df
print(alldf.shape)
print(alldf.columns)
rows = len(alldf)

In [ ]:
# Split into input(x) and output(y)

#retrieve numpy array & split
dataset= alldf.values
X = dataset[:,3:]
y = dataset[:,2]

#format all fields as string
X = X.astype(str)
y=y.astype('int64')
y=y.reshape((rows,1))


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=1)

# summarize
print('Train', X_train.shape, y_train.shape)
print('Test', X_test.shape, y_test.shape)

In [ ]:
# feature selection
def select_features(X_train, y_train, X_test):
    # configure to select all features
    fs = SelectKBest(score_func=mutual_info_classif, k='all')
    # learn relationship from training data
    fs.fit(X_train, y_train)
    # transform train input data
    X_train_fs = fs.transform(X_train)
    # transform test input data
    X_test_fs = fs.transform(X_test)
    return X_train_fs, X_test_fs, fs

# feature selection
X_train_fs, X_test_fs, fs = select_features(X_train, y_train, X_test)
print('FEATURE SELECTION DONE')
allscoredf = pd.DataFrame(list(fs.scores_))
allscoredf.to_csv('allscore_df.csv', index=False, header=True)
allscoredf.head()

In [ ]:
import numpy as np

# what are scores for the features
for i in range(len(fs.scores_)):
    print('Feature %d: %f' % (i, fs.scores_[i]))
    
# plot the scores
pyplot.figure(figsize=(15,10))
pyplot.bar([i for i in range(len(fs.scores_))], fs.scores_)
pyplot.xticks(np.arange(0,60,5))
pyplot.axhline(y=1, color='r', linestyle='-')
pyplot.title('Feature Importance Scores of all variables')
pyplot.xlabel('Feature Index Number')
pyplot.ylabel('Feature Importance Score')
pyplot.savefig('allbar.png')
pyplot.show()

In [ ]:
index = []

for i in range(len(list(fs.scores_))):
    score = list(fs.scores_)[i]
    if score>1:
        print(str(i) + ": " + alldf.columns[i])